
  <h3>{#admin#}</h3>

{include file="adminMenu.htm" sel="5"}

    <table class="tab">
      <tr> 
	<td nowrap class="tab">{#Top_users#}</td>
      </tr>
    </table>
    <table class="tabarea">
      <tr> 
	<td class="tabarea">
	  <table>
	    <tr class="listhead">
	      <td colspan="5">
		{include file="splitList.htm"}
	      </td>
	    </tr>
	    <tr class="listhead">
	      <th>{#User#}</th>
	      <th>{#Contact#}</th>
	      <th>{#Groups#}</th>
	      <th>{#listenNum#}</th>
	      <th></th>
	    </tr>
	    {cycle name="roles" values="list1,list2" print=false advance=false}
	    {foreach item=item from=$TOPLIST}
	    <tr class="{cycle name=roles}">
	      <td>
            	{$item.username}
	      </td>
	      <td>
		{$item.contact_person}
	      </td>
	    <td>
		{foreach item=group from=$item.groups}
		<div>{$group}</div>
		{/foreach}
	    </td>
            <td align="center">
		{$item.count}
            </td>
	    <td>
	      <a href="javascript:popup('adminUserStats.php?id={$item.id}','UserStats',350,400,false)" >{#details#}</a>
	    </td>

          </tr>
          {/foreach}
        </table>
        <p>

        </p>
      </td>
    </tr>
  </table>
