
  <h3>{#admin#}</h3>

<ul class="tabs">
<li class=""><a href="admin.php">{#Network#}</a></li>
<li class=""><a href="adminUsers.php">{#Users#}</a></li>
<li class=""><a href="adminStats.php">{#Groups#}</a></li>
<li class="sel last">{#Stats#}</li>
</ul>

  <table class="tab">
    <tr> 
      <td nowrap class="tab">{#Groups#}</td>
    </tr>
  </table>
  <table class="tabarea">
    <tr> 
      <td class="tabarea">
	<table>
          <tr class="listhead">
            <th>{#name#}</th>
            <th>{#count#}</th>
            <th>{#comments#}</th>
	    <th></th>
          </tr>
          {cycle name="roles" values="list1,list2" print=false advance=false}
          {foreach item=item from=$GROUPS}
          <tr class="{cycle name=roles}">
            <td>
            	{$item.name}
            </td>
	    <td>
	    	{$item.count}
	    </td>
            <td>
		{$item.comments}
            </td>
            <td nowrap>
                <input class="action" type="button" name="b1" value="{#edit#}" onClick="popup('editGroup.php?gid={$item.id}','EditGroup',350,400,false)" />
                <input class="action" type="button" name="b1" value="{#delete#}" onClick="redir(this.form, 'adminGroups.php?del=1&gid={$item.id}')" />
            </td>
          </tr>
          {/foreach}
        </table>
        <p>
          <input class="action" type="button" name="b1" value="{#add#}" onClick="popup('editGroup.php','AddGroup',400,400,false)" />
        </p>
      </td>
    </tr>
  </table>
