
  <h3>{#admin#}</h3>

{include file="adminMenu.htm" sel="2"}

<form>
  <table class="tab">
    <tr> 
      <td nowrap class="tab">{#Users#}</td>
    </tr>
  </table>
  <table class="tabarea">
    <tr> 
      <td class="tabarea">
      	<table width="100%">
      		<tr class="listhead">
						<td>
		          {#Search#}: <input name="pattern" value="{$PATTERN}">
						</td>
						<td>{include file="splitList.htm"}</td>
					</tr>
				</table>

	<table>
          <tr class="listhead">
            <th>{#name#}</th>
            <th>{#email#}</th>
            <th>{#groups#}</th>
	    <th></th>
          </tr>
          {cycle name="roles" values="list1,list2" print=false advance=false}
          {foreach item=item from=$USERS}
          <tr class="{cycle name=roles}">
            <td>
            	<a href="javascript:popup('adminShowUser.php?id={$item.id}','User',450,400,true)">{$item.username}</a>
            </td>
	    <td>
	    	{$item.email}
	    </td>
            <td>
		{$item.groups}
            </td>
            <td nowrap>
                <input class="action" type="button" name="b1" value="{#edit_groups#}" onClick="popup('editUserGroups.php?uid={$item.id}','EditUserGroup',350,400,false)" />
                <input class="action" type="button" name="b1" value="{#listen_stats#}" onClick="popup('adminUserStats.php?id={$item.id}','UserStat',350,400,false)" />
               <!-- <input class="action" type="button" name="b1" value="{#delete#}" onClick="redir(this.form,'adminUsers.php?del=1&uid={$item.id}')" />
               -->
            </td>
          </tr>
          {/foreach}
        </table>
      </td>
    </tr>
  </table>
</form>