
  <h3>{#admin#}</h3>

<ul class="tabs">
<li class=""><a href="admin.php">{#Network#}</a></li>
<li class=""><a href="adminUsers.php">{#Users#}</a></li>
<li class=""><a href="adminStats.php">{#Groups#}</a></li>
<li class="sel last">{#Stats#}</li>
</ul>

    <table class="tab">
      <tr> 
	<td nowrap class="tab">{#Top_shows#}</td>
      </tr>
    </table>
    <table class="tabarea">
      <tr> 
	<td class="tabarea">
	  <table>
	    <tr class="listhead">
	      <td colspan="3">
		{include file="splitList.htm"}
	      </td>
	    </tr>
	    <tr class="listhead">
	      <th>{#Program#}</th>
	      <th>{#Station#}</th>
	      <th>{#listenNum#}</th>
	    </tr>
	    {cycle name="roles" values="list1,list2" print=false advance=false}
	    {foreach item=item from=$TOPLIST}
	    <tr class="{cycle name=roles}">
	      <td>
            	<a href="get.php/{$item.id}">{$item.title}</a>
	      </td>
	    <td>
	    	<a href="showStation.php/{$item.station_id}">{$item.station_name}</a>
	    </td>
            <td>
		{$item.count}
            </td>
          </tr>
          {/foreach}
        </table>
        <p>

        </p>
      </td>
    </tr>
  </table>
