{literal}
<SCRIPT language="javascript">
<!--
function setvalue(name, id, value){
var popurl="{/literal}{$ROOT_URL}{literal}/updatedb.php?name="+name+"&id="+id+"&value="+value
winpops=window.open(popurl,"","width=100,height=100,left=320,top=200")
} 
-->
</SCRIPT>
{/literal}
{if not $ID}
  <form action="{$ROOT_URL}/get.php">
    {if $POPUP}
    <input type="hidden" name="popup" value="1">
    {/if}
      <h4>{#please_enter#}</h4>
      <input type="text" name="id" size="60" value="{$ID}">
  </form>
{else}
  {include file="$SUBPAGE.htm"}
{/if}