<br>
<table border=0 width=100% height=100% cellpadding="25">
  <tr>
    <!-- left PROMOTION AREA -->
    <td width="20%" valign="top">
    <div style="line-height:1.4em;">
     <b>Partner-Promotion</b><br><br>
     !! place promotion & graphics here !! <br>

    </div>
    </td>

    <!-- center PARTNER-LINKS -->
    <td width="60%" valign="top" class="greyBgColor">
    <div style="line-height:1.4em;">
    <b>Partner of Radio ... !! </b><br>
    <br>
      <table border=0 width=100% cellpadding="5">
        <tr>
          <td width="30%" valign="top"><b>Logo</b></td>
          <td width="40%" valign="top"><b>Name</b></td>
          <td width="30%" valign="top"><b>Link</b></td>
        </tr>
        <!-- Partnerlink 1 - BEGIN -->
        <tr>
          <!-- Logo - max. 250px breit -->
          <td valign="top" align="right">
            !! place partner LOGO here !!
          </td>
          <!-- Name -->
          <td valign="top">
            !! place partner NAME here !!
          </td>
          <!-- Link -->
          <td valign="top">
            !! place partner LINK here !!
          </td>
        </tr>
        <!-- Partnerlink 1 - ENDE -->

      </table>
    </div>
    </td>
    <!-- right PROMOTION AREA -->
    <td width="20%" valign="top">


    </td>
  </tr>
</table>
<br>