<br>
<table border=0 width=100% height=100% cellpadding="25">
  <tr>
    <td width="20%" valign="top"></td>
    <td width="60%" class="premiumList">
    <div style="line-height:1.4em;">
    <b>Dear radio ... listener of premium content,</b><br>
    <br>
    !! place description for group payment of premium content - and a link to your webshop - here !!
    !! german sample description text - see below !!

    >> der gew&uuml;nschten Beitrag ist Teil einer Gruppe von kostenpflichtigen Sendungen auf Radio Gesundheit.<br>
    Die Themen und Inhalte der Beitr&auml;ge dieser Gruppe wurden von unserer Redaktion mit besonderer Sorgfalt<br>
    ausgew&auml;hlt und zusammengestellt. Es ist uns ein besonderes Anliegen diese Gesundheitsinformationen - <br>
    aus ganzheitlicher Sicht betrachtet - nicht einzeln, sondern wirklich umfassend (d.h. ganzheitlich)<br>
    anzubieten. Daher k&ouml;nnen Sie diese Radio-H&ouml;rbeitr&auml;ge nur zusammen in der Gruppe erhalten.<br>
    <br>
    Sie k&ouml;nnen <u>alle Sendungen dieser Gruppe</u> einfach und komfortabel unter www.marktplatz-gesundheit.at<br>
    <a href="http://www.marktplatz-gesundheit.at/index.php/cat/c19_Radio-H-rbeitr-ge.html" target="_blank"><b>im Online Shop unseres Partners Marktplatz Gesundheit erwerben</b></a>.<br>
    <br>
    Viel Spass beim an...h&ouml;ren, was gesund ist! <<

    </div>
    </td>
    <td width="20%" valign="top"></td>
  </tr>
</table>
<br>