<table class="tabarea" width="100%">
<tr> 
  <td class="tabarea"> 
        <table width="100%" >
          <tr>
	    <td>
              <table>
                <tr>
                  <td>{#name#}:</td>
                  <td>{$GROUP_DATA.name}</td>
                </tr>
                <tr>
                  <td colspan="2">{#contents#}</td>
                </tr>
		{foreach item=item from=$OBJECTS}
                <tr class="list2">
                  <td>
                    {$item.mid}
		  </td>
		  <td>
		    <a target="prog" href="{$item.url}">{$item.name}</a> {if $item.count}({$item.count}){/if}
		  </td>
                </tr>
		{/foreach}
	      </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<form>
    <input class="action" type="button" onClick="window.close()" value="{#close#}">
</form>
