
<table>
  <tr>
    <td>Company name:</td>
    <td><input name="ud_text_company" value="{$UDATA.company}"></td>
  </tr>
  <tr>
    <td>Industry sector:</td>
    <td>
      <select name="ud_sel_sector">
	<option value="1">health/medicine</option>
        <option value="2">nature/agriculture</option>
	<option value="3">economy/renewables</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Health Network Newsletter:</td>
    <td>
      <input type="radio" name="ud_bool_nl_health_network" value="t"> yes
      <input type="radio" name="ud_bool_nl_health_network" value="f"> no
    </td>
  </tr>
</table>
