<br><br><br> 
<table width="300" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td><table width="300" border="0" cellpadding="5" cellspacing="1" bgcolor="#FFFFFF">
          <tr bgcolor="#eeeeee"> 
            
          <td colspan="2" bgcolor="#eeffee" class="title"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  
                <td width="20" nowrap><img src="{$root}img/info.gif" width="27" height="21"></td>
                  
                <td class=title><strong>Confirmation Message</strong></td>
                </tr>
              </table></td>
          </tr>
          <tr bgcolor="#eeeeee"> 
            
          <td colspan="2" bgcolor="#eeeeee"> 
            <div align="justify">{$confirm_message}<br>
              <br>
              <a href="{$server_root}{$link}">Go there now</a></div>
             </td>
          </tr>
        </table></td>
    </tr>

  </table>

<br><br><br>
