<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
{config_load file="$lang.conf"}<html>
<head>
<title>:: SOTF :: Station Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="{$root}main.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="{$root}scripts.js"></script>
</head>

<body background="{$root}img/bg1.gif" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr> 
    <td width="150" bgcolor="#660000">&nbsp;</td>
    <td bgcolor="#660000">&nbsp;<span class="whitesmall">SOTF Station Management 
      :: build {$build_id}</span></td>
  </tr>
  <tr> 
    <td height="70" bgcolor="#F7EFE7"> 
      <div align="center"><img name="Something" src="{$root}img/radlogo.gif" width="100" height="60" alt=""></div></td>
    <td bgcolor="#E7EBF7"><div align="right"><img src="{$root}img/sotf.gif" width="342" height="41">&nbsp;&nbsp;</div></td>
  </tr>
  <tr>
    <td bgcolor="#DED7AD">&nbsp;</td>
    <td bgcolor="#CED7DE" class="menu1">{$nav_bar}</td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td background="{$root}img/bgtoppix.gif"><img src="{$root}img/bgtopleft.gif" width="153" height="4"></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">

  <tr>
    <td width="150" valign="top">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		{if $logged_in}
        <tr>
          <td height="20"><div align="center"><strong><font size="-2" face="Tahoma, Verdana, Arial">{#hello#}, 
              {$user_name}</font></strong></div></td>
        </tr>
        <tr>
          <td height="1" bgcolor="#FFFFFF"><img src="{$root}img/fake.gif" width="1" height="1"></td>
        </tr>
        <tr {if $action == 'inside.htm'}bgcolor=#E7EBF7{/if}>
          <td class="menu1">&nbsp;&nbsp;&raquo; <a href="{$server_root}inside.php" class=menu1>{#station#}</a></td>
        </tr>
		{if $action == 'inside.htm'}
        <tr>
          <td height="1" bgcolor="#FFFFFF"><img src="{$root}img/fake.gif" width="1" height="1"></td>
        </tr>
        <tr>
          <td class="menu2">&nbsp;&nbsp;&nbsp; <a href="{$server_root}inside.php" class="menu2l">{#overview#}</a><br>
		  &nbsp;&nbsp;&nbsp; <a href="a" class="menu2l">{#new_prog#}</a><br>
			&nbsp;&nbsp;&nbsp; <a href="a" class="menu2l">{#print_ver#}</a></td>
        </tr>
		{/if}
        <tr>
          <td height="1" bgcolor="#FFFFFF"><img src="{$root}img/fake.gif" width="1" height="1"></td>
        </tr>
		 <tr>
          <td class="menu1" {if $action == 'series.htm'}bgcolor=#E7EBF7{/if}>&nbsp;&nbsp;&raquo; <a href="{$server_root}series.php" class=menu1>{#series#}</a></td>
        </tr>
		{if $action == 'series.htm'}
        <tr>
          <td height="1" bgcolor="#FFFFFF"><img src="{$root}img/fake.gif" width="1" height="1"></td>
        </tr>
        <tr>
          <td class="menu2">&nbsp;&nbsp;&nbsp; <a href="{$server_root}series.php" class="menu2l">{#overview#}</a><br>
            &nbsp;&nbsp;&nbsp; <a href="a" class="menu2l">{#new_ser#}</a><br>
			&nbsp;&nbsp;&nbsp; <a href="a" class="menu2l">{#print_ver#}</a></td>
        </tr>
		{/if}
        <tr>
          <td height="1" bgcolor="#FFFFFF"><img src="{$root}img/fake.gif" width="1" height="1"></td>
        </tr>
		 <tr>
          <td class="menu1" {if $action == 'users.htm'}bgcolor=#E7EBF7{/if}>&nbsp;&nbsp;&raquo; <a href="{$server_root}users.php" class=menu1>{#users#}</a></td>
        </tr>
		{if $action == 'users.htm'}
        <tr>
          <td height="1" bgcolor="#FFFFFF"><img src="{$root}img/fake.gif" width="1" height="1"></td>
        </tr>
        <tr>
          <td class="menu2">&nbsp;&nbsp;&nbsp; <a href="{$server_root}users.php" class="menu2l">{#overview#}</a><br>
            &nbsp;&nbsp;&nbsp; <a href="a" class="menu2l">{#new_user#}</a></td>
        </tr>
		{/if}
        <tr>
          <td height="1" bgcolor="#FFFFFF"><img src="{$root}img/fake.gif" width="1" height="1"></td>
        </tr>
		 <tr>
          <td class="menu1" {if $action == 'settings.htm'}bgcolor=#E7EBF7{/if}>&nbsp;&nbsp;&raquo; <a href="{$server_root}settings.php" class=menu1>{#settings#}</a></td>
        </tr>
		{if $action == 'settings.htm'}
        <tr>
          <td height="1" bgcolor="#FFFFFF"><img src="{$root}img/fake.gif" width="1" height="1"></td>
        </tr>
        <tr>
          <td class="menu2">&nbsp;&nbsp;&nbsp; <a href="{$server_root}settings.php" class="menu2l">{#my_set#}</a></td>
        </tr>
		{/if}
		<tr>
          <td height="1" bgcolor="#FFFFFF"><img src="{$root}img/fake.gif" width="1" height="1"></td>
        </tr><tr>
          <td class="menu1">&nbsp;&nbsp;&raquo; <a href="{$server_root}logout.php" class=menu1>{#logout#}</a></td>
        </tr>
		<tr>
          <td height="1" bgcolor="#FFFFFF"><img src="{$root}img/fake.gif" width="1" height="1"></td>
        </tr>
{else}
		<tr>
          <td height="20"><div align="center"><strong><font size="-2" face="Tahoma, Verdana, Arial">{#hello#}</font></strong></div></td>
        </tr>
        <tr>
          <td height="1" bgcolor="#FFFFFF"><img src="{$root}img/fake.gif" width="1" height="1"></td>
        </tr>
		 <tr>
          <td class="menu1" bgcolor="#E7EBF7">&nbsp;&nbsp;&raquo; <a href="{$server_root}" class=menu1>{#login#}</a></td>
        </tr>
        <tr>
          <td height="1" bgcolor="#FFFFFF"><img src="{$root}img/fake.gif" width="1" height="1"></td>
        </tr>
{/if}
      </table>
    <p>&nbsp;</p></td>
    <td width="3">&nbsp;</td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td valign="top">
<table width="100%" border="0" cellspacing="1" cellpadding="3">

              <tr> 
                <td valign="top"> <div align="center">{include file=$action}<br>
				{if $show_help}
				  {include file=helpbox.htm} 
  				{/if}

				</div></td>
                
              </tr>
            </table>
          
            
          </td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
        <tr> 
          <td bgcolor="#eeeeee"> <div align="center"><font color="#999999" size="-2" face="Tahoma, Verdana, Arial">&nbsp;copyright 
              Public Voice Lab 2002<br>
              page generated in {$tot_time} seconds</font></div></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
