<table width="100%" border="0" cellspacing="0" cellpadding="2"><tr>
    <td width="100%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#FFFFFF">
              <tr bgcolor="#ddddff"> 
                <td colspan="7" class="title"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td width="20" nowrap><strong><img src="{$root}img/i-users.gif" width="27" height="21"></strong></td>
                      <td class=title><strong>My Programmes</strong></td>
                    </tr>
                  </table></td>
              </tr>
              <tr bgcolor="#dddddd"> 
                <td colspan="7" class="title"><table width="100%" border="0" cellspacing="1" cellpadding="1">
                    <tr> 
                      <td width="50" nowrap>My Series:</td>
                      <td width="100" nowrap> {if $series != ''} 
                        <form name="form1">
                          <select name="menu1" onChange="MM_jumpMenu('parent',this,0)">
                            {html_options options=$series selected=$series_selected}
                          </select>
                        </form>
                        {else} You have no series :( {/if} </td>
                      <td nowrap>&nbsp;</td>
                      <td nowrap><div align="right"> 
                          <form name="form2" method="post" action="myseries.php?block={$block}&sortby={$sortby}&orderby={$order}&action=edit&id={$id}">
						  <!--
                            <table width="100" border="0" cellspacing="1" cellpadding="1">
                              <tr> 
                                <td>Show:</td>
                                <td nowrap><select name="filter_active">
                                    {html_options options=$filter_active selected=$filter_active_selected}
                                  </select></td>
                                <td>&nbsp;</td>
                                <td nowrap><select name="filter_published">
                                   {html_options options=$filter_published selected=$filter_published_selected}
                                  </select></td>
                                <td><input name="show" type="submit" id="show" value="&gt;&gt;"></td>
                              </tr>
                            </table>
							-->
                          </form>
                        </div></td>
                    </tr>
                  </table></td>
              </tr>
              <tr bgcolor="#eeeeee"> 
                <td width="20%" nowrap> <div align="center"><strong><a href="{$server_root}myseries.php?block={$block}&sortby=title&orderby={if $sortby == 'title' and $order == 'asc'}desc{else}asc{/if}&id={$id}" class="title2">Title</a>{if 
                    $sortby == 'title'} {if $order == 'asc'}<img src="{$root}img/arrowdown.gif">{else}<img src="{$root}img/arrowup.gif">{/if}{/if}</strong></div></td>
                <td width="20%" nowrap> <div align="center"><strong><a href="{$server_root}myseries.php?block={$block}&sortby=intime&orderby={if $sortby == 'intime' and $order == 'asc'}desc{else}asc{/if}&id={$id}" class="title2">Start 
                    Date/Time</a>{if $sortby == 'intime'} {if $order == 'asc'}<img src="{$root}img/arrowdown.gif">{else}<img src="{$root}img/arrowup.gif">{/if}{/if}</strong></div></td>
                <td width="20%" nowrap><div align="center"><strong><a href="{$server_root}myseries.php?block={$block}&sortby=outtime&orderby={if $sortby == 'outtime' and $order == 'asc'}desc{else}asc{/if}&id={$id}" class="title2">End 
                    Date/Time</a>{if $sortby == 'outtime'} {if $order == 'asc'}<img src="{$root}img/arrowdown.gif">{else}<img src="{$root}img/arrowup.gif">{/if}{/if}</strong></div></td>
                <td width="10%" nowrap> <div align="center"><strong><a href="{$server_root}myseries.php?block={$block}&sortby=special&orderby={if $sortby == 'special' and $order == 'asc'}desc{else}asc{/if}&id={$id}" class="title2">Special 
                    Needs</a>{if $sortby == 'special'} {if $order == 'asc'}<img src="{$root}img/arrowdown.gif">{else}<img src="{$root}img/arrowup.gif">{/if}{/if}</strong></div></td>
                <td width="30%" colspan="3" nowrap> <div align="center"><strong><a href="{$server_root}myseries.php?block={$block}&sortby=options&orderby={if $sortby == 'options' and $order == 'asc'}desc{else}asc{/if}&id={$id}" class="title2">Options</a>{if 
                    $sortby == 'options'} {if $order == 'asc'}<img src="{$root}img/arrowdown.gif">{else}<img src="{$root}img/arrowup.gif">{/if}{/if}</strong></div></td>
              </tr>
              {section name=data loop=$db_result show=$db_result} 
              <tr bgcolor="#f4f4f4"> 
                <td nowrap> <div align="center">{if $db_result[data][1] == ''}N/A{else}{$db_result[data][1]}{/if}</div></td>
                <td> <div align="center">{$db_result[data][2]}</div></td>
                <td nowrap><div align="center">{$db_result[data][3]}</div></td>
                <td nowrap> <div align="center"> {if $db_result[data][4] == 'na'}<font color="#FF0000">{#n_a#}</font>{else}{if 
                    $db_result[data][4] == 'pp'}{#p_p#}{else}N/A{/if}{/if}</div></td>
                <td width="10%" nowrap align=center> {if $db_result[data][5] == 
                  't'} 
                  <table width="100" border="0" cellspacing="1" cellpadding="1">
                    <tr> 
                      <td align=center><a href="myseries.php?action=deactivate&pid={$db_result[data][0]}&block={$block}&sortby={$sortby}&orderby={$order}&id={$id}"><img src="{$root}img/true.gif" width="24" height="16" border="0"></a></td>
                      <td><a href="myseries.php?action=deactivate&pid={$db_result[data][0]}&block={$block}&sortby={$sortby}&orderby={$order}&id={$id}">{#active#}</a></td>
                    </tr>
                  </table>
                  {else} 
                  <table width="100" border="0" cellspacing="1" cellpadding="1">
                    <tr> 
                      <td align=center><a href="myseries.php?action=activate&pid={$db_result[data][0]}&block={$block}&sortby={$sortby}&orderby={$order}&id={$id}"><img src="{$root}img/false.gif" width="24" height="16" border="0"></a></td>
                      <td nowrap><a href="myseries.php?action=activate&pid={$db_result[data][0]}&block={$block}&sortby={$sortby}&orderby={$order}&id={$id}"> 
                        {#notactive#}</a></td>
                    </tr>
                  </table>
                  {/if}</td>
                <td width="10%" nowrap> 
                  <div align="center"><a href="showprogrammedetails.php?block={$block}&sortby={$sortby}&orderby={$order}&action=edit&id={$db_result[data][0]}&sid={$id}" onclick="NewWindow(this.href,'14','600','420','yes');return false"><img src="{$root}img/i-edit.gif" alt="{#edit#}" width="24" height="16" border="0"></a><a href="{$server_root}myseries.php?block={$block}&sortby={$sortby}&orderby={$order}&action=delete&pid={$db_result[data][0]}&id={$id}" OnClick="return confirmLink(this,'');"><img src="{$root}img/i-delete.gif" alt="{#delete#}" width="24" height="16" border="0"></a></div></td>
                <td width="10%" nowrap>
<div align="center">{if $db_result[data][6] != ''} 
                    <table width="100" border="0" cellspacing="1" cellpadding="1">
                      <tr> 
                        <td align=center><a href="publish.php?action=unpublish&pid={$db_result[data][0]}&block={$block}&sortby={$sortby}&orderby={$order}&id={$id}" onclick="NewWindow(this.href,'14','400','200','yes');return false"><img src="{$root}img/true.gif" width="24" height="16" border="0"></a></td>
                        <td><a href="publish.php?action=unpublish&pid={$db_result[data][0]}&block={$block}&sortby={$sortby}&orderby={$order}&id={$id}" onclick="NewWindow(this.href,'14','400','200','yes');return false">{#published#}</a></td>
                      </tr>
                    </table>
                    {else} 
                    <table width="100" border="0" cellspacing="1" cellpadding="1">
                      <tr> 
                        <td align=center><a href="publish.php?action=publish&pid={$db_result[data][0]}&block={$block}&sortby={$sortby}&orderby={$order}&id={$id}" onclick="NewWindow(this.href,'14','400','200','yes');return false"><img src="{$root}img/false.gif" width="24" height="16" border="0"></a></td>
                        <td nowrap><a href="publish.php?action=publish&pid={$db_result[data][0]}&block={$block}&sortby={$sortby}&orderby={$order}&id={$id}" onclick="NewWindow(this.href,'14','400','200','yes');return false"> 
                          {#notpublished#}</a></td>
                      </tr>
                    </table>
                    {/if}</div></td>
              </tr>
              {sectionelse} 
              <tr bgcolor="#eeeeee"> 
                <td colspan="7" nowrap><br> <div align="center">{#no_data#}<br>
                    <br>
                  </div></td>
              </tr>
              {/section} {section name=pageSplit show=$pageSplit} 
              <tr bgcolor="#eeeeee"> 
                <td colspan="7"><div align="center">{$pageSplit}</div></td>
              </tr>
              {/section} </table></td>
        </tr>
        <tr> 
          <td><div align="right"><img src="{$root}img/shadow1.gif" width=200 height="9"></div></td>
        </tr>
      </table></td>
  </tr>
</table>
