<br><br><br> 
<table width="300" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td><table width="300" border="0" cellpadding="5" cellspacing="1" bgcolor="#FFFFFF">
          <tr bgcolor="#eeeeee"> 
            
          <td colspan="2" bgcolor="#ffeeee" class="title"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  
                <td width="20" nowrap><strong><img src="{$root}img/block.gif" width="27" height="21"></strong></td>
                  
                <td class=title><strong>{#access_error#}</strong></td>
                </tr>
              </table></td>
          </tr>
          <tr bgcolor="#eeeeee"> 
            
          <td colspan="2" bgcolor="#eeeeee"> 
            <div align="justify">Unfortunately you do not have enough access 
              rights to view this part of the station management console. If you 
              feel that this is a mistake, then please contact the station administrator.<br>
              <br>
              <a href="{$server_root}">Go to the start page</a></div>
              </div></td>
          </tr>
        </table></td>
    </tr>
    <tr> 
      <td><div align="right"><img src="{$root}img/shadow1.gif" width="289" height="9"></div></td>
    </tr>
  </table>

<br><br><br>
