<form name="form1" method="post" action="programmenew.php">
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr> 
      <td width="100%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td><table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#FFFFFF">
                <tr bgcolor="#ddddff"> 
                  <td colspan="2" class="title"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr> 
                        <td width="20" nowrap><strong><img src="{$root}img/i16-newprogramme.gif" width="27" height="21"></strong></td>
                        <td class=title><strong>{#create_new_prog#}</strong></td>
                      </tr>
                    </table></td>
                </tr>
                <tr bgcolor="#dddddd"> 
                  <td colspan="2" nowrap class=whitesmall><strong>{#series_data#}</strong> 
                    ({#series_data_comm#})</td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td width="10%" nowrap> <div align="right">*{#series_title#}:</div></td>
                  <td nowrap><input name="series_title" type="text" class="myinput" id="series_title" value="{$submit_series_title}" maxlength="255"></td>
                </tr>
                <tr bgcolor="#F4F4F4"> 
                  <td nowrap> <div align="right">*{#series_desc#}:</div></td>
                  <td nowrap><textarea name="series_description" class="myinput" id="series_description">{$submit_series_description}</textarea></td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td colspan="2" nowrap bgcolor="#dddddd" class=whitesmall><strong>{#prog_data#}</strong></td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">{#prog_title#}:</div></td>
                  <td nowrap><input name="programme_title" type="text" class="myinput" id="programme_title" maxlength="255" value="{$submit_programme_title}"></td>
                </tr>
                <tr bgcolor="#f4f4f4"> 
                  <td nowrap> <div align="right">*{#start_date#}:</div></td>
                  <td nowrap>{html_select_date end_year=2010 field_order=DMY prefix=sd 
                    time=$stime}</td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td nowrap> 
                    <div align="right">*{#start_time#}:</div></td>
                  <td nowrap>{html_select_time time=$stime display_seconds=false 
                    prefix=sd}</td>
                </tr>
                <tr bgcolor="#f4f4f4"> 
                  <td nowrap> 
                    <div align="right">*{#end_time#}:</div></td>
                  <td nowrap>{html_select_time display_seconds=false time=$time 
                    prefix=ed} ({#end_time_comm#})</td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td nowrap> 
                    <div align="right">*{#spec_needs#}:</div></td>
                  <td nowrap> 
                    <select name="special_needs" id="special_needs">
                     {html_options options=$special_needs selected=$submit_special_needs}
                    </select></td>
                </tr>
                
				<tr bgcolor="#dddddd"> 
                  <td colspan="2" nowrap class=whitesmall> <div align="left"><strong>{#sotf1#}</strong></div></td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">{#sotf2#}:</div></td>
                  <td nowrap><input name="alt_title" type="text" class="myinput" id="alt_title" maxlength="255" value="{$submit_alt_title}"></td>
                </tr>
				
				<tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right">*{#sotf3#} ({#sotf4#}):</div></td>
                  <td nowrap><input name="keywords" type="text" class="myinput" id="keywords" maxlength="255" value="{$submit_keywords}"></td>
                </tr>
				
				<tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">*{#sotf5#}:</div></td>
                  <td nowrap><textarea name="programme_desc" rows="4" class="myinput" id="programme_desc">{$submit_programme_desc}</textarea></td>
                </tr>
				
				<tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right">{#sotf6#} ({#sotf4#}):</div></td>
                  <td nowrap><input name="contrib" type="text" class="myinput" id="contrib" maxlength="255" value="{$submit_contrib}"></td>
                </tr>
				
				<tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">*{#sotf7#}:</div></td>
                  <td nowrap>{html_select_date end_year=2010 field_order=DMY prefix=dcr 
                    time=$dcrtime}</td>
                </tr>
				
				<tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right">*{#sotf8#}:</div></td>
                  <td nowrap>{html_select_date end_year=2010 field_order=DMY prefix=dis 
                    time=$distime}</td>
                </tr>
				
				<tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">*{#sotf9#}:</div></td>
                  <td nowrap><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="1" align=right>{#sotf10#}:</td>
                        <td width="100%"> 
                          <select name="sotf_topic" id="sotf_topic">
{html_options options=$sotf_topics selected=$submit_sotf_topic}
                          </select>
                        </td>
                      </tr><tr>
                        <td width="1">{#sotf11#}:</td>
                        <td><select name="sotf_genre" id="sotf_genre">
								{html_options options=$sotf_genres selected=$submit_sotf_genre}
                          </select></td>
                      </tr>
                    </table></td>
                </tr>
				
				<tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right">*{#sotf12#}:</div></td>
                  <td nowrap><select name="sotf_lang" id="sotf_lang">
				  		{html_options options=$sotf_lang selected=$submit_sotf_lang_default}
                    </select></td>
                </tr>
				
				<tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">*{#sotf13#}:</div></td>
                  <td nowrap><input name="rights" type="text" class="myinput" id="rights" maxlength="255" value="{$submit_rights}"></td>
                </tr>
				
				
				
				<tr bgcolor="#dddddd"> 
                  <td colspan="2" nowrap class=whitesmall> <div align="left"><strong>{#owner_data#}</strong></div></td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">*{#series_owner#}:</div></td>
                  <td nowrap><select name="series_owner" class="myselect" id="series_owner">
				  		{html_options options=$series_owner selected=$submit_series_owner}
                    </select></td>
                </tr>
                {section name=error_cell show=$error_out} 
                <tr bgcolor="#FFCCCC"> 
                  <td colspan="2">{section name=errors loop=$error_list show=$error_out} 
                    <div align=center> 
                      <li><b><font color="#FF0000">{$error_list[errors]}</font></b></div>
                    {/section}</td>
                </tr>
                {/section} 
                <tr bgcolor="#eeeeee"> 
                  <td colspan="2" nowrap><div align="center"> 
                      <input name="imageField" type="image" src="{$root}img/b_submit.gif" width="90" height="16" border="0">
                      <input name="Submit" type="hidden" id="Submit" value="do">
                    </div></td>
                </tr>
              </table></td>
          </tr>
          <tr> 
            <td><div align="right"><img src="{$root}img/shadow1.gif" width=200 height="9"></div></td>
          </tr>
        </table></td>
    </tr>
  </table>
</form>
