 <form name="form1" method="post" action="showprogrammedetails.php?id={$programme_id}">
 {if !$station_access}
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr> 
      <td width="100%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td><table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#FFFFFF">
                <tr bgcolor="#ddddff"> 
                  <td width="100%" colspan="2" class="title"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr> 
                        <td width="20" nowrap><strong><img src="{$root}img/i-users.gif" width="27" height="21"></strong></td>
                        <td class=title><strong>{#prog_det#}</strong></td>
                      </tr>
                    </table></td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td colspan="2" nowrap bgcolor="#dddddd" class=whitesmall> <div align="left"><strong>{#prog_data#}</strong></div></td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td width="10%" nowrap> <div align="right">{#prog_title#}:</div></td>
                  <td width="100%" nowrap>{$prog_title}</td>
                </tr>
                <tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right"> {#start_date#}:</div></td>
                  <td nowrap>{$prog_date}</td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">{#start_time#}:</div></td>
                  <td nowrap>{$prog_intime}</td>
                </tr>
                <tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right">{#end_time#}:</div></td>
                  <td nowrap>{$prog_outtime}</td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">{#spec_needs#}:</div></td>
                  <td nowrap>{$prog_special}</td>
                </tr>
{if $submit_series_active_flag == 't'}
                <tr bgcolor="#f4f4f4"> 
                  <td nowrap> 
                    <div align="right">{#prog_active#}:</div></td>
                  <td nowrap><table border="0" cellspacing="0" cellpadding="1">
                      <tr> 
                        <td>{if $submit_prog_active_flag == 't'} <img src="{$root}img/true.gif" width="24" height="16"> 
                          {else} <img src="{$root}img/false.gif" width="24" height="16"> 
                          {/if} </td>
                        <td>{$submit_prog_active}</td>
                      </tr>
                    </table></td>
                </tr>
{/if}
                <tr bgcolor="#dddddd"> 
                  <td width="100%" colspan=2 class=whitesmall><strong>{#series_data#}</strong></td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td width="10%" nowrap> <div align="right">{#series_title#}:</div></td>
                  <td nowrap>{$series_title}</td>
                </tr>
                <tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right">{#series_desc#}:</div></td>
                  <td>{$series_desc}</td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">{#progs_in_ser#}:</div></td>
                  <td nowrap>{$tot_progs} overall, {$progs_to_run} still to run</td>
                </tr>
                <tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right">{#series_owner#}:</div></td>
                  <td nowrap>{$submit_series_owner}</td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td nowrap> <div align="right">{#series_active#}:</div></td>
                  <td nowrap>
<table border="0" cellspacing="0" cellpadding="1">
                      <tr>
                        <td>{if $submit_series_active_flag == 't'} <img src="{$root}img/true.gif" width="24" height="16"> 
                          {else} <img src="{$root}img/false.gif" width="24" height="16"> 
                          {/if} </td>
                        <td>{$submit_series_active}</td>
                      </tr>
                    </table></td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td colspan="2" nowrap><div align="center"> 
                      <input name="imageField2" type="image" src="{$root}img/b_back.gif" width="90" height="16" border="0" onClick="window.close();">
                    </div></td>
                </tr>
              </table></td>
          </tr>
          <tr> 
            <td><div align="right"><img src="{$root}img/shadow1.gif" width=200 height="9"></div></td>
          </tr>
        </table></td>
    </tr>
  </table>
  {else}
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr> 
      <td width="100%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td><table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#FFFFFF">
                <tr bgcolor="#ddddff"> 
                  <td width="100%" colspan="2" class="title"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr> 
                        <td width="20" nowrap><strong><img src="{$root}img/i-users.gif" width="27" height="21"></strong></td>
                        <td class=title><strong>{#prog_det#}</strong></td>
                      </tr>
                    </table></td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td colspan="2" nowrap bgcolor="#dddddd" class=whitesmall> <div align="left"><strong>{#prog_data#}</strong></div></td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td width="10%" nowrap> <div align="right">{#prog_title#}:</div></td>
                  <td width="100%" nowrap> <input name="programme_title" type="text" class="myinput" id="programme_title" value="{$prog_title}" maxlength="255"></td>
                </tr>
                <tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right"> *{#start_date#}:</div></td>
                  <td nowrap>{html_select_date end_year=2010 field_order=DMY prefix=sd 
                    time=$prog_intimets}</td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">*{#start_time#}:</div></td>
                  <td nowrap>{html_select_time time=$prog_intimets display_seconds=false 
                    prefix=sd}</td>
                </tr>
                <tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right">*{#end_time#}:</div></td>
                  <td nowrap>{html_select_time display_seconds=false time=$prog_outtimets 
                    prefix=ed} ({#end_time_comm#})</td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">*{#spec_needs#}:</div></td>
                  <td nowrap><select name="special_needs" id="special_needs">
                     {html_options options=$special_needs selected=$submit_special_needs}
                    </select> </td>
                  {if $submit_series_active == 't'} </tr>
                <tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right">*{#prog_active#}:</div></td>
                  <td nowrap><select name="prog_active" class="myselect">
				  		{html_options options=$prog_active selected=$submit_prog_active}
                    </select></td>
                </tr>
                {else} 
                <input type=hidden name="prog_active" value={$submit_prog_active}>
                {/if} 
				 <tr bgcolor="#eeeeee"> 
                  <td nowrap> 
                    <div align="right">*{#options#}</div></td>
                  <td nowrap> 
                    <table width="100" border="0" cellspacing="0" cellpadding="1">
                      <tr>
                        <td><a href="showprogrammedetails.php?id={$programme_id}&action=delete&timestamp={$prog_intimets}" OnClick="return confirmLink(this,'');"><img src="{$root}img/i-delete.gif" width="24" height="16" border=0></a></td>
                        <td nowrap><a href="showprogrammedetails.php?id={$programme_id}&action=delete&timestamp={$prog_intimets}" OnClick="return confirmLink(this,'');">{#delete_programme#}</a></td>
                      </tr>
                    </table></td>
                </tr>
                <tr bgcolor="#dddddd"> 
                  <td width="100%" colspan=2 class=whitesmall><strong>{#series_data#}</strong></td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td width="10%" nowrap> <div align="right">*{#series_title#}:</div></td>
                  <td nowrap><input name="series_title" type="text" class="myinput" id="series_title" value="{$series_title}" maxlength="255"></td>
                </tr>
                <tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right">*{#series_desc#}:</div></td>
                  <td><textarea name="series_description" rows="3" wrap="VIRTUAL" class="myinput" id="series_description">{$series_desc}</textarea></td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">{#progs_in_ser#}:</div></td>
                  <td nowrap>{$tot_progs} overall, {$progs_to_run} still to run</td>
                </tr>
{if $edit_station == 2}
                <tr bgcolor="#f4f4f4"> 
                  <td nowrap><div align="right">*{#series_owner#}:</div></td>
                  <td nowrap><select name="series_owner" class="myselect" id="series_owner">
				  		{html_options options=$series_owner selected=$submit_series_owner}
                    </select></td>
                </tr>
{else}
<input type="hidden" name="series_owner" value="{$submit_series_owner}">
{/if}
                <tr bgcolor="#eeeeee"> 
                  <td nowrap><div align="right">{#series_active#}:</div></td>
                  <td nowrap><select name="series_active" class="myselect">
				  		{html_options options=$series_active selected=$submit_series_active}
                    </select></td>
                </tr>
				 <tr bgcolor="#eeeeee"> 
                  <td nowrap> 
                    <div align="right">*{#options#}</div></td>
                  <td nowrap> 
                    <table width="100" border="0" cellspacing="0" cellpadding="1">
                      <tr>
                        <td><a href="showprogrammedetails.php?id={$programme_id}&action=delete_series&series_id={$series_id}&timestamp={$prog_intimets}" OnClick="return confirmLink(this,'');"><img src="{$root}img/i-delete.gif" width="24" height="16" border=0></a></td>
                        <td nowrap><a href="showprogrammedetails.php?id={$programme_id}&action=delete_series&series_id={$series_id}&timestamp={$prog_intimets}" OnClick="return confirmLink(this,'');">{#delete_series#}</a> ({#delete_series_help#})</td>
                      </tr>
                    </table></td>
                </tr>
                {section name=error_cell show=$error_out} 
                <tr bgcolor="#FFCCCC"> 
                  <td colspan="2">{section name=errors loop=$error_list show=$error_out} 
                    <div align=center> 
                      <li><b><font color="#FF0000">{$error_list[errors]}</font></b></div>
                    {/section}</td>
                </tr>
                {/section} 
                <tr bgcolor="#eeeeee"> 
                  <td colspan="2" nowrap><div align="center"> 
                      <input name="imageField22" type="image" src="{$root}img/b_back.gif" width="90" height="16" border="0" onClick="window.close();">
                      &nbsp; 
                      <input name="imageField" type="image" src="{$root}img/b_submit.gif" width="90" height="16" border="0">
                      <input name="Submit" type="hidden" id="Submit" value="do">
                      <input type="hidden" name="series_id" value="{$series_id}">
					  <input type="hidden" name="get_stuff" value="{$get_stuff}">
                    </div></td>
                </tr>
              </table>
			  </td>
          </tr>
          <tr> 
            <td><div align="right"><img src="{$root}img/shadow1.gif" width=200 height="9"></div></td>
          </tr>
        </table></td>
    </tr>
  </table>
  {/if}
</form>
