{section name=error_cell show=$error_out} 
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#FFFFFF">
              <tr bgcolor="#FFCCCC"> 
                <td width="100%" class="title"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td width="20" nowrap><strong><img src="{$root}img/block.gif" width="27" height="21"></strong></td>
                      <td class=title><strong>{#error#}</strong></td>
                    </tr>
                  </table></td>
              </tr>
              <tr bgcolor="#FFCCCC"> 
                <td bgcolor="#eeeeee">{section name=errors loop=$error_list show=$error_out} 
                  <div align=center> 
                    <li><b><font color="#FF0000">{$error_list[errors]}</font></b></div>
                  {/section}</td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td><div align="right"><img src="{$root}img/shadow1.gif" height="9"></div></td>
        </tr>
      </table></td>
  </tr>
</table>
<br>
{/section}
<table width="100%" border="0" cellspacing="0" cellpadding="2"><tr>
    <td width="100%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#FFFFFF">
              <tr bgcolor="#ddddff"> 
                <td colspan="6" class="title"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td width="20" nowrap><strong><img src="{$root}img/i-users.gif" width="27" height="21"></strong></td>
                      <td class=title><strong>{#usr_tit#}</strong></td>
                    </tr>
                  </table></td>
              </tr>
              <tr bgcolor="#eeeeee"> 
                <td width="10%" nowrap> <div align="center"><strong> <a href="{$server_root}users.php?block={$block}&sortby=id&orderby={if $sortby == 'id' and $order == 'asc'}desc{else}asc{/if}" class="title2">{#id#}</a>{if $sortby == 'id'} {if $order == 'asc'}<img src="{$root}img/arrowdown.gif">{else}<img src="{$root}img/arrowup.gif">{/if}{/if}</strong></div></td>
                <td width="20%" nowrap> <div align="center"><strong><a href="{$server_root}users.php?block={$block}&sortby=name&orderby={if $sortby == 'name' and $order == 'asc'}desc{else}asc{/if}" class="title2">{#name#}</a>{if $sortby == 'name'} {if $order == 'asc'}<img src="{$root}img/arrowdown.gif">{else}<img src="{$root}img/arrowup.gif">{/if}{/if}</strong></div></td>
                <td width="20%" nowrap> <div align="center"><strong><a href="{$server_root}users.php?block={$block}&sortby=status&orderby={if $sortby == 'status' and $order == 'asc'}desc{else}asc{/if}" class="title2">{#status#}</a>{if $sortby == 'status'} {if $order == 'asc'}<img src="{$root}img/arrowdown.gif">{else}<img src="{$root}img/arrowup.gif">{/if}{/if}</strong></div></td>
                <td width="20%" nowrap> <div align="center"><strong><a href="{$server_root}users.php?block={$block}&sortby=involvement&orderby={if $sortby == 'involvement' and $order == 'asc'}desc{else}asc{/if}" class="title2">{#involvement#}</a>{if $sortby == 'involvement'} {if $order == 'asc'}<img src="{$root}img/arrowdown.gif">{else}<img src="{$root}img/arrowup.gif">{/if}{/if}</strong></div></td>
                <td width="20%" nowrap> <div align="center"><strong><a href="{$server_root}users.php?block={$block}&sortby=lastlogin&orderby={if $sortby == 'lastlogin' and $order == 'asc'}desc{else}asc{/if}" class="title2">{#last_login#}</a>{if $sortby == 'lastlogin'} {if $order == 'asc'}<img src="{$root}img/arrowdown.gif">{else}<img src="{$root}img/arrowup.gif">{/if}{/if}</strong></div></td>
                <td width="10%" nowrap> <div align="center"><strong>{#options#}</strong></div></td>
              </tr>
              {section name=data loop=$db_result show=$db_result} 
              <tr bgcolor="#eeeeee"> 
                <td nowrap><div align="center">{$db_result[data][0]}</div></td>
                <td nowrap><div align="center">{$db_result[data][1]}</div></td>
                <td nowrap><div align="center">{$db_result[data][2]}</div></td>
                <td nowrap><div align="center">{$db_result[data][4]} Series</div></td>
                <td nowrap><div align="center">{$db_result[data][3]}</div></td>
                <td nowrap><div align="center"><a href="usersedit.php?block={$block}&sortby={$sortby}&orderby={$order}&action=edit&id={$db_result[data][0]}" onclick="NewWindow(this.href,'14','500','420','yes');return false"><img src="{$root}img/i-edit.gif" alt="{#edit#}" width="24" height="16" border="0"></a><a href="{$server_root}users.php?block={$block}&sortby={$sortby}&orderby={$order}&action=delete&id={$db_result[data][0]}" OnClick="return confirmLink(this,'');"><img src="{$root}img/i-delete.gif" alt="{#delete#}" width="24" height="16" border="0"></a></div></td>
              </tr>
              {sectionelse} 
              <tr bgcolor="#eeeeee"> 
                <td colspan="6" nowrap><br>
                  <div align="center">{#no_data#}<br>
                    <br>
                  </div></td>
              </tr>
              {/section} 
			  
			  {section name=pageSplit show=$pageSplit}
		  <tr bgcolor="#eeeeee"> 
            <td colspan="6"><div align="center">{$pageSplit}</div></td>
          </tr>
		  {/section}
			  </table></td>
        </tr>
        <tr> 
          <td><div align="right"><img src="{$root}img/shadow1.gif" width=200 height="9"></div></td>
        </tr>
      </table></td>
  </tr>
</table>
