/*
#get_programme_head{
	float:left;
}
#get_programme_title{
	float:left;
	width:360px;
}
#get_quicklinks{
	float:left;
	width:360px;
}
.rss_link{
	padding-top:10px;
	float:right;
}
#get_editMedium{
	padding-top:5px;
	clear:both;
}
#get_icons .content{
	padding-top:5px;
	padding-bottom:5px;
}
#get_icons .img_caption{
	width:120px;
	text-align:center;
}
#img_caption_name{
	font-weight:bolder;
}
#get_icons img{
	display:block;
	margin:0px auto;
	border:#000000 solid 1px;
	padding:3px;
	margin:3px;
	width:105px;
}
.get_programme_icon{
	float:left;
	width:120px;
}
.get_showSeries_icon{
	float:left;
	margin-left:45px;
	width:120px;
}

.get_showstation{
	float:left;
	margin-left: 45px;
	width:120px;
}
*/