<tr><td align="center"><strong><font size="5" face="Arial, Helvetica, sans-serif">{$portal_title}</font></strong><br><hr noshade></td></tr>
<table border="0" cellspacing="20" cellpadding="0">
  <tr> 
    <td width="100" rowspan="4" align="left" valign="top">{if $PRG_DATA.icon}<img src="{$CACHEDIR}/{$ID}.png" width="100" height="100">{/if}</td>
    <td width="15" rowspan="4">&nbsp;</td>
    <td width="348" rowspan="4" align="left" valign="top"><p><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong><font color="#FFCC33">&deg;&deg;&deg; 
        {$PRG_DATA.title}<br>
        </font></strong></font><font size="2" face="Arial, Helvetica, sans-serif">Why 
        we think this is the coolest way to present streaming audio on the web. 
        Automated generation of Radio frontends - or Portals - without deep knowledge 
        of web design. SOTF does it for you.</font></p>
      <p><font size="2" face="Arial, Helvetica, sans-serif">Why we think this 
        is the coolest way to present streaming audio on the web. Automated generation 
        of Radio frontends - or Portals - without deep knowledge of web design. 
        SOTF does it for you. Why we think this is the coolest way to present 
        streaming audio on the web. Automated generation of Radio frontends - 
        or Portals - without deep knowledge of web design. SOTF does it for you. 
        </font></p>
      <p><font size="2" face="Arial, Helvetica, sans-serif">Why we think this 
        is the coolest way to present streaming audio on the web. Automated generation 
        of Radio frontends - or Portals - without deep knowledge of web design. 
        SOTF does it for you.</font></p>
      <p><font size="2" face="Arial, Helvetica, sans-serif">Links:<br>
        <a href="http://www.streamonthefly.com">www.streamonthefly.com</a></font><font size="2" face="Arial, Helvetica, sans-serif"> 
        (The SOTF official website)</font></p>
      <p><font size="2" face="Arial, Helvetica, sans-serif">Additional files:<br>
        <u>press_photo_laszlo.jpg</u> (450 Kbyte)</font><font size="2" face="Arial, Helvetica, sans-serif"><br>
        <u>realaudioversion_laszlo.ra</u> (5.456 Kbyte)<br>
        </font><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><br>
        </font><font size="1" face="Arial, Helvetica, sans-serif"><br>
        </font></p>
      </td>
    <td width="15" rowspan="4">&nbsp;</td>
    <td width="150" align="right" valign="top"><font color="#999999" size="1" face="Verdana, Arial, Helvetica, sans-serif"><a href="popup.html" target="_blank"><br>
      Robert Stachel<br>
      radiofish<br>
      EUTIST AMI series</a><br>
      <br>
      0:10:34<br>
      23-Oct-2002<br>
      <br>
      </font></td>
    <td width="15" rowspan="4"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font></td>
    <td width="60" rowspan="4" align="center" valign="top"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"></font><br>
      {if $STATION_DATA.icon}<img src="{$CACHEDIR}/{$STATION_DATA.id}.png" width="50" height="50">{/if}
    </td>
  </tr>
  <tr> 
    <td align="right" valign="top"><p><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><br>
        Listen to this programme:<br>
        MP3 24 kbps<br>
        MP3 128 kbps<br>
        <a href="http://www.vorbis.com">OGG Vorbis</a> 64 kbps<br>
        <br>
        </font></p></td>
  </tr>
  <tr> 
    <td align="right" valign="top"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><br>
      Download this programme:<br>
      MP3 24 kbps<br>
      MP3 128 kbps<br>
      <a href="http://www.vorbis.com">OGG Vorbis</a> 64 kbps<br>
      </font></td>
  </tr>
  <tr> 
    <td align="right" valign="top"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><br>
      Rating: *** (average)<br>
      <form name="form1" method="post" action="">
        <font size="1" face="Verdana, Arial, Helvetica, sans-serif"> 
        <select name="select" size="1">
          <option>Rate this programme</option>
          <option>***** excellent</option>
          <option>**** good</option>
          <option>*** average</option>
          <option>** mediocre</option>
          <option>* poor</option>
        </select>
        <input type="submit" name="Submit" value="Submit">
        </font> 
      </form>
      </font> <font size="1" face="Verdana, Arial, Helvetica, sans-serif"><br>
      </font></td>
  </tr>
</table>
<p><br>
<table border="0" cellspacing="20" cellpadding="0">
  <tr> 
  <tr> 
  <td align="left"> 
  <font size="2" face="Arial, Helvetica, sans-serif"><strong>4 Comments:</strong></font></p>
  </td> 
  </tr> 
  <td align="left"> 
	<ul>
	  <li><font size="2" face="Arial, Helvetica, sans-serif">This show really rocks! 
	    (Andras | 23-oct-02) <font size="1" face="Verdana, Arial, Helvetica, sans-serif">[<u>ADD 
	    COMMENT</u>]</font><br>
	    I think that this show really delivers what it promises. Sooo great.</font> 
	    <ul>
	      <li><font size="2" face="Arial, Helvetica, sans-serif">No way! (Tamas | 
	        23-oct-02) <font size="1" face="Verdana, Arial, Helvetica, sans-serif">[<u>ADD 
	        COMMENT</u>]</font><br>
	        No it doesnt.</font> 
	        <ul>
	          <li><font size="2" face="Arial, Helvetica, sans-serif">Oh yes! (Andras 
	            | 24-oct-02) <br>
	            Oh yes, it does!</font> </li>
	        </ul>
	      </li>
	      <li><font size="2" face="Arial, Helvetica, sans-serif">Why? (Robert | 25-oct-02) 
	        <font size="1" face="Verdana, Arial, Helvetica, sans-serif">[<u>ADD COMMENT</u>]</font><br>
	        Why do you think so? Why do you think so? Why do you think so? Why do 
	        you think so? Why do you think so? Why do you think so? Why do you think 
	        so? Why do you think so?</font></li>
	    </ul>
	  </li>
	  <li><font size="2" face="Arial, Helvetica, sans-serif">This show is boring! 
	    (NN | 3-nov-02) <font size="1" face="Verdana, Arial, Helvetica, sans-serif">[<u>ADD 
	    COMMENT</u>]</font><br>
	    I couldnt stand any minute longer!</font> 
	    <ul>
	      <li><font size="2" face="Arial, Helvetica, sans-serif">Get bent! (NN | 4-nov-02) 
	        <font size="1" face="Verdana, Arial, Helvetica, sans-serif">[<u>ADD COMMENT</u>]</font><br>
	        </font></li>
	    </ul>
	  </li>
	</ul>
  </td> 
  </tr> 
</table>
