{config_load file="$LANG.conf"}
<html>
<head>
<title>{#portal_creator#}</title>
<!--
 * $Id$
 * Created for the StreamOnTheFly project (IST-2001-32226)
 * Authors: Máté Pataki, András Micsik
 *          at MTA SZTAKI DSD, http://dsd.sztaki.hu
-->
</head>
<body bgcolor="#CEDEFF" rightmargin="0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#CEDDFC" height="60">
	<tr> 
		<td background="{$IMAGEDIR}/top_r2_c1.gif" style="background-position: right" width="100%">&nbsp;</td>
		<td width="264"><img name="top_r2_c3" src="{$IMAGEDIR}/top_r2_c3.jpg" width="264" height="60" border="0" alt=""></td>
	</tr>
</table>
<form action="{$php_self}" method="post">


Copy template from
<select name="portal">{html_options options=$portals}</select> save as <input type="text" name="save_template">
<input type="submit" name="{#send#}" value="{#send#}">
</form>
</body>
</html>