{config_load file="$LANG.conf"}
<html>
<head>
<title>{$title}</title>
<!--
 * $Id$
 * Created for the StreamOnTheFly project (IST-2001-32226)
 * Authors: Máté Pataki, András Micsik
 *          at MTA SZTAKI DSD, http://dsd.sztaki.hu
-->
</head>
<body bgcolor="#{$portal.bg2}">
<form action="{$rootdir}/edit_text.php/{$portal_name}?id={$id}{if $text}&text=1{else}&teaser=1{/if}" method="post">

{if $text}Edit text{else}Edit teaser{/if}
<textarea name="value" rows=15 cols=60>{$value}</textarea>
<br>
<input type="submit" value="{#save#}" name="save">

</form>

</body>
</html>