{config_load file="$LANG.conf"}
<html>
<head>
<title>{#portal_template#}</title>
<!--
 * $Id$
 * Created for the StreamOnTheFly project (IST-2001-32226)
 * Authors: Máté Pataki, András Micsik
 *          at MTA SZTAKI DSD, http://dsd.sztaki.hu
-->
</head>
<body bgcolor="#{$home.bg}" background="{$home.wall}" text="{$home.font}" link="{$home.link}" alink="{$home.alink}" vlink="{$home.vlink}" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<form action="{$php_self}" method="post" name="myform">

{foreach item=template from=$templates}
<img src="{if $template.picture}{$template.picture}{else}{$IMAGEDIR}/nopicture.gif{/if}">
<input type="submit" name="load" value="{$template.name}" onclick="javascript:this.value={$template.id}"><br>
{/foreach}

</form>

</body>
</html>