	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		{if $edit}<tr bgcolor="#{$portal.bg2}">
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;<input type="hidden" name="edit" value="1"></td>
			<td align="left"><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><input type="image" src="{$IMAGEDIR}/plusz2.gif" alt="{#insert_row#}" name="insert_row" value="--1" onclick="javascript:this.form.edit.value = this.value"><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /></td>
		</tr>{else}
		<tr><td colspan="4">&nbsp;</td></tr>
		{/if}
		{foreach key=row_number name=outer item=row from=$table}
		<tr>
			{if $edit}<td align="center" valign="middle" bgcolor="#{$portal.bg2}"><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><input type="image" alt="{#delete_row#}" src="{$IMAGEDIR}/minusz2.gif" name="delete_row" value="-{$row_number}" onclick="javascript:this.form.edit.value = this.value;return confirm('{#delete_the_row#}');"><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /></td>
			{else}<td>&nbsp;&nbsp;&nbsp;</td>{/if}
			<td width="100%">
				<table border="{if $edit}1{else}0{/if}" cellpadding="0" cellspacing="0" width="100%" height="100%"{if $bgcolor} bgcolor="#{$bgcolor}"{/if}>
					<tr>{foreach key=col_number item=cell from=$row}
					<td align="{$cell.align != ''}" valign="{$cell.valign != ''}"{if $cell.width != ''} width="{$cell.width}"{/if}{if $cell.color != ''} bgcolor="{$cell.color}"{/if}{if $edit} onClick="javascript:window.open('{$rootdir}/portal_popup.php/{$portal_name}?row={$row_number}&col={$col_number}','','scrollbars=yes,width=640,height=400,left=320,top=200'); return false"{/if}>
					{if $cell.resource == "picture"}
						{if $cell.link != "none"}<a href='{$cell.link}'>{/if}
						<img src="{$cell.value}" border="0"
						{if $cell.class != "none"} class="{$cell.class}"{/if}>
						{if $cell.link != "none"}</a>{/if}
					{elseif $cell.resource == "text"}
						{if $cell.class != "none"}<span class="{$cell.class}">{/if}
						{if $cell.style != "none"}<font{if $cell.cur_style.color != ''} color="{$cell.cur_style.color}"{/if}{if $cell.cur_style.face != ''} face="{$cell.cur_style.face}"{/if}{if $cell.cur_style.size != ''} size="{$cell.cur_style.size}"{/if}>{/if}
						{if $cell.link != "none"}<a href='{$cell.link}'>{/if}
						{if $cell.html == ''}&nbsp;{else}{$cell.html}{/if}
						{if $cell.link != "none"}</a>{/if}
						{if $cell.style != "none"}</font>{/if}
						{if $cell.class != "none"}</span>{/if}
					{elseif $cell.resource == "query" OR $cell.resource == "playlist"}
						<table border="0">
						{if $is_admin AND !$edit}&nbsp;&nbsp;&nbsp;<font size="1" face="Verdana, Arial, Helvetica, sans-serif">[<a href="{$rootdir}/portal.php/{$portal_name}?playlist=1&filter=all&prglist={if $cell.resource == "query"}q{else}p{/if}{$cell.value}">{if $cell.resource == "query"}{#edit_it_query#}{else}{#edit_it_playlist#}{/if}</a>]</font>{/if}
						{foreach item=item from=$cell.items key=key}
							{if $key != 0}<tr><td colspan="2">&nbsp;</td></tr>{/if}
							<tr id="{$item.id}"><td valign="middle" align="center">
							{if $item.icon}
								<a href="{$php_self}?id={$item.id}"><img src="{$item.icon}"{if $cell.class != "none"} class="{$cell.class}.icon"{/if}></a>
							{else}
								<a href="{$php_self}?id={$item.id}"><img src="{$IMAGEDIR}/noicon.png"{if $cell.class != "none"} class="{$cell.class}.icon"{/if}></a>
							{/if}
							</td><td><b><a href="{$php_self}?id={$item.id}">
							{if $cell.class != "none"}<span class="{$cell.class}.title">{/if}
							{$item.title}
							{if $cell.class != "none"}</span>{/if}
							</a></b><br />
							{foreach key=name item=value from=$item.values}{if $value != ''}
								{if $cell.class != "none"}<span class="{$cell.class}.name">{/if}
								{$name}: 
								{if $cell.class != "none"}</span><span class="{$cell.class}.value">{/if}
								{$value}<br />
								{if $cell.class != "none"}</span>{/if}
							{/if}{/foreach}
							{if $rating}
								{if $cell.class != "none"}<span class="{$cell.class}.name">{/if}
								<a href="{$php_self}?id={$item.id}#rating">{#rating#}</a>:
								{if $cell.class != "none"}</span><span class="{$cell.class}.value">{/if}
								{$item.rating.average} ({#users_rated1#} {$item.rating.users_rated} {#users_rated2#})<br />
								{if $cell.class != "none"}</span>{/if}
							{/if}
							{if count($item.files) > 0}
								{if $cell.class != "none"}<span class="{$cell.class}.name">{/if}
								{#uploaded_files#}:
								{if $cell.class != "none"}</span><span class="{$cell.class}.value">{/if}
								{foreach key=filename item=file_location from=$item.files}
								<a href="{$file_location}" onclick="javascript:window.open('{$file_location}','','scrollbars=yes,width=640,height=340,left=320,top=200');return false;">{$filename}</a>&nbsp;{if $is_admin AND !$edit}<font size="1" face="Verdana, Arial, Helvetica, sans-serif">[<a href="{$php_self}?view=1&prgid={$item.id}&delete_file={$file_location}&anchor={$item.id}" onclick="javascript:return confirm('{#delete_the_file#}');">{#delete_file#}</a>]</font>{/if}&nbsp;&nbsp;
								{/foreach}
								{if $cell.class != "none"}</span>{/if}
								<br />
							{/if}
							{if $item.teaser}<small><small>&nbsp;<br /></small></small><i>{$item.teaser}</i><br />{/if}
							{if count($item.listen) > 0}
								<small><small>&nbsp;<br /></small></small>
								<b>{#LISTEN#}</b>
								{foreach item=file from=$item.listen}
								{if $file.mime_type == "audio/mp3"}
									<a href="{$sotfSite}{$file.link}&portal=1" alt="{#file_MP3#}{if $file.vbr == "t"} {#file_vbr#}{/if}, {#file_filesize#}{$file.filesize}, {#file_length#}{$file.play_length}, {#file_bitrate#}{$file.kbps}">{$file.kbps}MP3</a>&nbsp;|&nbsp;
								{elseif $file.mime_type == "application/x-ogg"}
									<a href="{$sotfSite}{$file.link}&portal=1" alt="{#file_OGG#}{if $file.vbr == "t"} {#file_vbr#}{/if}, {#file_filesize#}{$file.filesize}, {#file_length#}{$file.play_length}, {#file_bitrate#}{$file.kbps}">{$file.kbps}OGG</a>&nbsp;|&nbsp;
								{/if}
								{/foreach}
							{/if}
							{if $chat}<a href="{$php_self}?id={$item.id}#comments">{$item.comments} COMMENTS</a><br /><br />{/if}
							</td></tr>
						{/foreach}
						</table>
					{elseif $cell.html != ''}
						{$cell.html}
					{else}
						&nbsp;
					{/if}
					</td>
					{/foreach}
					</tr>
				</table>
			</td>
			{if $edit}<td align="center" valign="bottom" bgcolor="#{$portal.bg2}"><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><input type="image" src="{$IMAGEDIR}/plusz2.gif" alt="{#insert_row#}" name="insert_row" value="-{$row_number}" onclick="javascript:this.form.edit.value = this.value"><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /><img src="{$IMAGEDIR}/transp.gif" /></td>
			{else}<td>&nbsp;&nbsp;&nbsp;</td>{/if}
		</tr>
		{/foreach}
	</table>
