<html>
<head>
<title>{#portal_admin#}</title>
</head>
<body>
<form action="{$php_self}" method="post">
{$error}<br>
Create new portal:<br>
Portal name:<input type="text" value="{$name}" name="name"><br>
Portal password:<input type="password" name="portal_password"><br><br>
Portal admin details:<br>
User name:<input type="text" value="{$username}" name="username"><br>
User password:<input type="password" name="user_password"><br>
Email:<input type="text" name="email" value="{$email}"><br><br>
<input type="submit" name="Sned" value="Sned">

</form>

</body>
</html>