BODY {
  FONT-SIZE: 13px;
}

.status {
        background-color: #FFAAAA; FONT-WEIGHT: bold; FONT-SIZE: 13px; TEXT-TRANSFORM: uppercase; FONT-FAMILY: Tahoma, Verdana, Arial; LETTER-SPACING: 1pt; FONT-VARIANT: normal
}

.menu {
        FONT-WEIGHT: bold; FONT-SIZE: 13px; TEXT-TRANSFORM: uppercase; FONT-FAMILY: Tahoma, Verdana, Arial; LETTER-SPACING: 1pt; FONT-VARIANT: normal
}

A.menu:link {
        COLOR: #000000; TEXT-DECORATION: none
}
A.menu:active {
        COLOR: #000000; TEXT-DECORATION: none
}
A.menu:visited {
        COLOR: #000000; TEXT-DECORATION: none
}
A.menu:hover {
        COLOR: #ff0000; TEXT-DECORATION: underline
}
.date {
        FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #666666; FONT-FAMILY: Tahoma, Verdana, Arial
}
.date2 {
        FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
        FONT-SIZE: 13px; FONT-FAMILY: Tahoma, Verdana, Arial
}
TH {
        FONT-SIZE: 13px; FONT-FAMILY: Tahoma, Verdana, Arial
}
.tablebg     { background-image: url(top_r2_c1.gif);
               background-position: right }
TR.listhead {
  background-color: #D3ECF5;
}
TR.list2 {
  background-color: #D3ECF5;
}
TR.list1 {
  background-color: #EFF4FE;
}


TABLE.tabarea {
  background: #D3ECF5; width: 100%;
}
TD.tabarea {
  background-color: #EFF4FE;
}

TABLE.tab {
  background: #A8C3F7; width: 20%;
}
TD.tab {
  FONT-WEIGHT: bold; background-color: #A8C3F7;
}

TABLE.title {

}
TD.title2 {
  background-color: #F7DCC3;
}
TD.titlehead {
  FONT-WEIGHT: bold; FONT-SIZE: 16px; background: #F0B989;
}

TD.topic_title2 {
  FONT-WEIGHT: bold; FONT-SIZE: 16px; background-color: #F7DCC3;
}
TD.topic_titlehead {
  FONT-WEIGHT: bold; background: #F0B989;
}

TABLE.login {
  background: #EFF4FE;
}

.prevnext {
  background: #A8C3F7; text-align: center; width: 20%;
}

A.action {
 COLOR: #000000; border: outset; border-width: thin; background-color: #DDDDDD; TEXT-DECORATION: none; padding: 2px; margin: 3px;
}

A.goto_object {
  FONT-WEIGHT: bold; FONT-SIZE: 16px;
}

A.playlist {
  FONT-SIZE: 12px;
}

A.topicitem {
  FONT-SIZE: 12px;
  TEXT-DECORATION: none;
}

INPUT.action {

}

INPUT {
  FONT-SIZE: 13px; FONT-FAMILY: Tahoma, Verdana, Arial;
}

A {
  COLOR: #000000; TEXT-DECORATION: underline;
}

.subheader {

}

.abstract {
  font-style: italic
}

.meta {
 FONT-WEIGHT: bold;
}

ul.tabs {
  margin: 0;
  padding: 0;
  font-size: 100%;
  margin-bottom: 10px;
}
ul.tabs li a {
  color: #fff;
}
 ul.tabs li a:hover {
  text-decoration: none;
  color: #eee;
}
ul.tabs li {
  display: inline;
  color: #fff;
  background: #c3c3c3;
  width: 18em;
  font-size: 100%;
  font-weight: bold;
  margin: 1em 0 0 0;
  padding: 0 0.5em;
  border-right: 2px solid #fff;
}
ul.tabs li.sel {
  background: #999;
}
ul.tabs li.last {
  border: none;
}

.promotedList {
  background: #ddcccc;
}

.premiumList {
  background: #ccddcc;
}
