
<h3>{#edit_link#}</h3>

<table width="100%" class="tabarea">
<tr><td class="tabarea">
	<form method="post">
            <input type="hidden" name="linkid" value="{$LINK_ID}">
	<table>
		<tr>
			<td>{#url#}:</td>
			<td><input size="50" maxlength="255" name="url" value="{$LINK_DATA.url}"></td>
		</tr>
		<tr>
			<td>{#caption#}:</td>
			<td><input size="50" maxlength="255" name="caption" value="{$LINK_DATA.caption}"></td>
		</tr>
		<tr>
			<td>{#public_access#}:</td>
			<td><input type="checkbox" name="public_access" {if $LINK_DATA.public_access eq 't'} CHECKED="1" {/if} /></td>
		</tr>
	</table>
	<input type="submit" name="save" value="{#save#}">
	</form>
</td></tr>
</table>
