
  <h3>{#admin#}</h3>

  <table class="tab">
    <tr> 
      <td nowrap class="tab">{#general_data#}</td>
    </tr>
  </table>
  <table class="tabarea">
    <tr> 
      <td class="tabarea"> 
        <table width="100%">
          <tr><td><a target="log" href="log.php#end">{#view_log#}</a>
              <br /><a target="config" href="viewConfig.php">{#view_config#}</a>
              <br /><a href="admin.php?retemplate=1">{#recompile_templates#}</a>
              <br /><a href="admin.php?updatetopics=1">{#update_topic_counts#}</a>
              <br /><a href="admin.php?updatecvs=1">{#update_from_cvs#}</a>
                  <form method="post">
                    <table>
                      <tr>
                        <td>
                          <input type="checkbox" name="debug" {if $VARS.debug}CHECKED{/if} >
                        </td>
                        <td>{#debug_expl#}</td>
                      </tr>
                      <tr>
                        <td>
                          <input type="checkbox" name="debug_sql" {if $VARS.debug_sql}CHECKED{/if} >
                        </td>
                        <td>{#debug_sql_expl#}</td>
                      </tr>
                      <tr>
                        <td>
                          <input type="checkbox" name="debug_smarty" {if $VARS.debug_smarty}CHECKED{/if} >
                        </td>
                        <td>{#debug_smarty_expl#}</td>
                      </tr>
                      <tr>
                        <td>
                          <input type="checkbox" name="smarty_compile_check" {if $VARS.smarty_compile_check}CHECKED{/if} >
                        </td>
                        <td>{#compile_check_expl#}</td>
                      </tr>
                </table>
                <input type="submit" name="save_debug" value="{#save#}">
              </form>
            </td></tr>
        </table>
  </td>
</tr>
</table>

<p></p>

<a name="network"></a>
  <table class="tab">
    <tr> 
      <td nowrap class="tab">{#Node_network#}</td>
    </tr>
  </table>
  <table class="tabarea">
    <tr> 
      <td class="tabarea">
        <form>
          <table>
            <tr>
              <td>{#node_id#}:</td><td> {$LOCAL_NODE.node_id}</td>
            </tr>
            <tr>
              <td>{#node_name#}:</td><td> {$LOCAL_NODE.name}</td>
            </tr>
            <tr>
              <td>{#node_desc#}:</td>
              <td><textarea onChange="if(value != defaultValue) data_changed++;" cols="50" rows="3" name="desc">{$LOCAL_NODE.description}</textarea>
              </td>
            </tr>
          </table>
          <input type="submit" name="save" value="{#save#}">
        </form>
        <form>
        {if $NEIGHBOURS}
        <table>
          <tr class="listhead">
            <th>{#node#}</th>
            <th>{#accept_incoming#}</th>
            <th>{#use_for_outgoing#}</th>
            <th>{#last_sync#}</th>
            <th>{#last_sync_out#}</th>
            <th>{#err_succ#}</th>
          </tr>
          {cycle name="roles" values="list1,list2" print=false advance=false}
          {foreach item=item from=$NEIGHBOURS}
          <tr class="{cycle name=roles}">
            <td>
              {if $item.pending_url}
              <a href="{$item.pending_url}">{#pending#}: {$item.node_id}</a>
              {else}
              <a href="{$item.node.url}">{$item.node.name}</a>
              {/if}
            </td>
            <td>
              {if $item.accept_incoming}{#Yes#}{else}{#No#}{/if}
            </td>
            <td>
              {if $item.use_for_outgoing}{#Yes#}{else}{#No#}{/if}
            </td>
            <td>
              {$item.last_sync}
            </td>
            <td>
              {$item.last_sync_out}
            </td>
            <td>
              {$item.success}/{$item.errors}
            </td>
            <td nowrap>
              <input class="action" type="button" name="b1" value="{#sync#}" onClick="redir(this.form, 'admin.php?sync=1&nodeid={$item.node_id}')" />
                <input class="action" type="button" name="b1" value="{#change#}" onClick="popup('editNeighbour.php?nodeid={$item.node_id}','{#editNeighbour#}',350,400,false)" />
                  <input class="action" type="button" name="b1" value="{#delete#}" onClick="redir(this.form, 'admin.php?delneighbour=1&nodeid={$item.node_id}')" />
            </td>
          </tr>
          {/foreach}
        </table>
        {else}
        <p>{#standalone_node#}</p>
        {/if}
        <p>
          <input class="action" type="button" name="b1" value="{#add_neighbour#}" onClick="popup('createNeighbour.php','{#createNeighbour#}',400,400,false)" />
        </p>
      </form>
      </td>
    </tr>
  </table>

<p></p>

<a name="perms"></a>
<table class="tab">
  <tr> 
    <td nowrap class="tab">{#access_permissions#}</td>
  </tr>
</table>
<table class="tabarea">
<tr> 
  <td class="tabarea"> 
        {if $PERMISSIONS}
        <form>
        <table>
          <tr class="listhead"><th>{#username#}</th><th>{#permissions#}</th><th>{#actions#}</th></tr>
          {cycle name="perms" values="list1,list2" print=false advance=false}
          {foreach item=user key=username from=$PERMISSIONS}
          <tr class="{cycle name=perms}">
            <td>{$username}</td>
            <td>
              {section name=i loop=$user}
              {$user[i]}{if ! $smarty.section.i.last}, {/if}
              {/section}
            </td>
            <td nowrap>
                <input class="action" type="button" name="b1" value="{#change#}" onClick="popup('editPermissions.php?context=node&objectid=node&objectname={#node#}&username={$username|escape}','Permissions',350,400,false)" />
                <input class="action" type="button" name="b1" value="{#delete#}" onClick="redir(this.form, 'admin.php?delperm=1&username={$username|escape}')" />              
            </td>
          </tr>
          {/foreach}
        </table>
        </form>
        {else}
        <p>{#no_users#}</p>
        {/if}
        <form method="post" name="form1">
          <input type="hidden" name="stationid" value="{$STATION_ID}">
            {#username#}: <input name="username"> 
              <input type="button" name="addperm" value="{#change_perm#}" onClick="if(checkIfEmpty(this.form.username,'{#select_user#}')) popup('editPermissions.php?context=node&objectid=node&objectname={#node#}&username='+escape(this.form['username'].value),'{#Permissions#}',350,400, false)">
                <br />  <a href="listUser.php" target="_blank" onClick="popup('listUser.php','{#userlist#}',500,80,true); return false;">{#userlist#}</a>	
        </form>
      </td>
    </tr>
</table>

