
	<h3>{#create_station#}</h3>
	<form name="form1" method="post">
	<table>
		<tr>
			<td>{#station_name#}:</td>
			<td><input size="32" maxlength="32" name="station"{if $STATION} value="{$STATION}"{/if}></td>
		</tr>
		<tr>
			<td>{#description#}:</td>
			<td><textarea rows="5" cols="60" name="desc">{$DESC}</textarea></td>
		</tr>
		<tr>
			<td>{#station_manager#}:</td>
			<td><input size="32" name="username" value="{$MANAGER}"> <a href="listUser.php" target="_blank" onClick="window.open('listUser.php','{#userlist#}','menubar=no, status=no, toolbar=no, width=300'); return false;">{#userlist#}</a></td>
		</tr>
	</table>
	<input type="submit" name="new" value="{#create#}">
	</form>
