
<h3>{#edit_station#}</h3>

<table class="tab">
  <tr> 
    <td nowrap class="tab">{#general_data#}</td>
  </tr>
</table>
<table class="tabarea">
<tr> 
  <td class="tabarea"> 
        <table width="100%">
          <tr><td>
              <form method="post">
                <table>
                  <tr>
                    <td>{#station_name#}:</td>
                    <td><b><a href="showStation.php?stationid={$STATION_ID}">{$STATION}</a></b></td>
                  </tr>
                  <tr>
                    <td>{#description#}:</td>
                    <td><textarea cols="50" rows="10" name="desc">{$STATION_DATA.description}</textarea></td>
                  </tr>
                </table>
                <input type="submit" name="save" value="{#save#}">
              </form>
            </td></tr>
        </table>
  </td>
</tr>
</table>

<p></p>

<form>
<table class="tab">
  <tr> 
    <td nowrap class="tab">{#Roles#}</td>
  </tr>
</table>
<table class="tabarea">
<tr> 
  <td class="tabarea"> 
        {if $ROLES}
        <table>
          <tr class="listhead"><th>{#Role#}</th><th>{#Contact#}</th><th>{#actions#}</th></tr>
          {cycle name="roles" values="list1,list2" print=false advance=false}
          {foreach item=item from=$ROLES}
          <tr class="{cycle name=roles}">
            <td>
              {$item.role_name}
            </td>
            <td>
              {$item.contact_data.name}
            </td>
            <td nowrap>
              <input class="action" type="button" name="b1" value="{#change#}" onClick="popup('editRole.php?roleid={$item.id}&objectid={$STATION_ID}','{#edit_role#}',350,400,false)" />
              <input class="action" type="button" name="b1" value="{#edit_contact#}" onClick="popup('editContact.php?id={$item.contact_id}','{#editcontact#}',500,500,true)" />
              <input class="action" type="button" name="b1" value="{#delete#}" onClick="redir(this.form, 'editStation.php?delrole=1&roleid={$item.id}&stationid={$STATION_ID}')" />
            </td>
          </tr>
          {/foreach}
        </table>
        {else}
        <p>{#no_roles#}</p>
        {/if}
        <p>
            <input class="action" type="button" name="b1" value="{#add_new_role#}" onClick="popup('editRole.php?new=1&objectid={$STATION_ID}','{#edit_role#}',400,400,false)" />
        </p>
      </td>
    </tr>
</table>
</form>

<p></p>

<form>
<table class="tab">
  <tr> 
    <td nowrap class="tab">{#access_permissions#}</td>
  </tr>
</table>
<a name="permissions"></a>
<table class="tabarea">
<tr> 
  <td class="tabarea"> 
        {if $PERMISSIONS}
        <table>
          <tr class="listhead"><th>{#username#}</th><th>{#permissions#}</th><th>{#actions#}</th></tr>
          {cycle name="perms" values="list1,list2" print=false advance=false}
          {foreach item=user key=username from=$PERMISSIONS}
          <tr class="{cycle name=perms}">
            <td>{$username}</td>
            <td>
              {section name=i loop=$user}
              {$user[i]}{if ! $smarty.section.i.last}, {/if}
              {/section}
            </td>
            <td nowrap>
                <input class="action" type="button" name="b1" value="{#change#}" onClick="popup('editPermissions.php?context=station&objectid={$STATION_ID}&objectname={$STATION}&username={$username|escape}','Permissions',350,400,false)" />
                <input class="action" type="button" name="b1" value="{#delete#}" onClick="redir(this.form, 'editStation.php?delperm=1&username={$username|escape}&stationid={$STATION_ID}')" />              
            </td>
          </tr>
          {/foreach}
        </table>
        {else}
        <p>{#no_users#}</p>
        {/if}
        <form method="post" name="form1">
          <input type="hidden" name="stationid" value="{$STATION_ID}">
            {#username#}: <input name="username"> 
              <input type="button" name="addperm" value="{#change_perm#}" onClick="popup('editPermissions.php?context=station&objectid={$STATION_ID}&objectname={$STATION}&username='+escape(document.form1['username'].value),'{#Permissions#}',350,400, false)">
                <br />  <a href="listUser.php" target="_blank" onClick="popup('listUser.php','{#userlist#}',500,80,true); return false;">{#userlist#}</a>	
        </form>
      </td>
    </tr>
</table>
</form>

<p></p>

<form>
<table class="tab">
  <tr> 
    <td nowrap class="tab">{#series#}</td>
  </tr>
</table>
<a name="series"></a>
<table class="tabarea">
<tr> 
  <td class="tabarea"> 
        {if $SERIES}
        <table>
          <tr class="listhead"><th>{#series_title#}</th><th>{#actions#}</th></tr>
          {cycle name="perms" values="list1,list2" print=false advance=false}
          {foreach item=item from=$SERIES}
          <tr class="{cycle name=perms}">
            <td><a href="showSeries.php?seriesid={$item.id}">{$item.title}</a></td>
            <td nowrap>
              <input class="action" type="button" name="b1" value="{#change#}" onClick="popup('editSeries.php?seriesid={$item.id}','{#series#}',550,550,true)" />
              <input class="action" type="button" name="b1" value="{#delete#}" onClick="redir(this.form, 'editStation.php?delseries=1&seriesid={$item.id}&stationid={$STATION_ID}')" />
            </td>
          </tr>
          {/foreach}
        </table>
        {else}
        <p>{#no_series#}</p>
        {/if}
          <input class="action" type="button" name="b1" value="{#add_series#}" onClick="popup('createSeries.php?stationid={$STATION_ID}','{#series#}',550,550,true)" />


      </td>
    </tr>
</table>
</form>

<p></p>

<table class="tab">
  <tr> 
    <td nowrap class="tab">{#icons_and_jingles#}</td>
  </tr>
</table>
<table class="tabarea">
<tr> 
   <td class="tabarea"> 

     <table>
          <tr>
            <th>{#icon#}</th><th>{#jingle_list#}</th>
          </tr>
          <tr>
            <td>
              {if $ICON}
              <img src="getIcon.php/icon.png?id={$STATION_ID}" border="1">
              {else}
                {#no_icon#}
              {/if}
           </td><td>   
              <table cellspacing="0" cellpadding="2" border="1">
                <tr><th>&nbsp;</th><th>{#format#}</th><th>{#bitrate#}</th><th>{#channels#}</th><th>{#samplerate#}</th></tr>
                {cycle values="#EEEEEE,#FFFFFF" print=false advance=true}
                {section name=i loop=$JINGLE}
                <tr bgcolor="{cycle}">
                  {section name=j loop=$JINGLE[i]}
                  <td>{$JINGLE[i][j]}</td>
                  {/section}
                </tr>
                {/section}
              </table>
            </td></tr>
        </table>
        <a name="icon"></a>

        {if $USERFILES}
{literal}
<script language="javascript">
function getSelected() {
     return document.userfiles['filename'].options[document.userfiles['filename'].selectedIndex].value;
}
</script>
{/literal}

        <form method="post" name="userfiles">
          <input type="hidden" name="okURL" value="{$OKURL}">
          <input type="hidden" name="stationid" value="{$STATION_ID}">
          <p>{#userfiles#}:	<select name="filename">{html_options values=$USERFILES output=$USERFILES}</select>
          <input type="button" name="view" value="{#view#}" onClick="var file=getSelected(); popup('getUserFile.php/'+escape(file)+'?filename='+escape(file),'UserFile',400,400,false)">
          <input type="submit" name="setjingle" value="{#set_jingle#}">
          <input type="submit" name="seticon" value="{#set_icon#}">
          <br \><small>{#userfiles_expl#}</small>
        </form>
        {else}
        <p>{#no_files#}</p>
        {/if}
        <small>
          <form enctype="multipart/form-data" method="post">
            <input type="hidden" name="MAX_FILE_SIZE" value="15000000" />
            <input type="hidden" name="stationid" value="{$STATION_ID}" />
            <input name="userfile" type="file" />
            <input type="submit" name="upload" value="{#upload_file#}" />
            <br />{#upload_expl#}
          </form>
        </small>
        
      </td>
    </tr>
  </table>