
<h3>{#edit_contact#}</h3>

<table class="tab">
  <tr> 
    <td nowrap class="tab">{#general_data#}</td>
  </tr>
</table>
<table class="tabarea">
<tr> 
  <td class="tabarea"> 
<table>
<tr><td>
	<form method="post">
            <input type="hidden" name="id" value="{$CONTACT_ID}">
	<table>
		<tr valign="top">
			<td>{#name#}:</td>
			<td>{$CONTACT_DATA.name}</td>
		</tr>
		<tr valign="top">
			<td>{#alias#}:</td>
			<td><input size="50" maxlength="100" name="alias" value="{$CONTACT_DATA.alias}"></td>
		</tr>
		<tr valign="top">
			<td>{#acronym#}:</td>
			<td><input size="30" maxlength="30" name="acronym" value="{$CONTACT_DATA.acronym}"></td>
		</tr>
		<tr valign="top">
			<td>{#intro#}:</td>
			<td><textarea cols="50" rows="10" name="intro">{$CONTACT_DATA.intro}</textarea></td>
		</tr>
		<tr valign="top">
			<td>{#email#}:</td>
			<td><input size="50" maxlength="100" name="email" value="{$CONTACT_DATA.email}"></td>
		</tr>
		<tr valign="top">
			<td>{#address#}:</td>
			<td><input size="50" maxlength="255" name="address" value="{$CONTACT_DATA.address}"></td>
		</tr>
		<tr valign="top">
			<td>{#phone#}:</td>
			<td><input size="20" maxlength="20" name="phone" value="{$CONTACT_DATA.phone}"></td>
		</tr>
		<tr valign="top">
			<td>{#cellphone#}:</td>
			<td><input size="20" maxlength="20" name="cellphone" value="{$CONTACT_DATA.cellphone}"></td>
		</tr>
		<tr valign="top">
			<td>{#fax#}:</td>
			<td><input size="20" maxlength="20" name="fax" value="{$CONTACT_DATA.fax}"></td>
		</tr>
		<tr valign="top">
			<td>{#url#}:</td>
			<td><input size="50" maxlength="255" name="url" value="{$CONTACT_DATA.url}"></td>
		</tr>
	</table>
	<input type="submit" name="save" value="{#save#}">
	<input type="submit" name="finish1" value="{#finish#}">
	</form>
</td></tr>
</table>

</td></tr>
</table>

<p></p>

<table class="tab">
  <tr> 
    <td nowrap class="tab">{#icon#}</td>
  </tr>
</table>
<table class="tabarea">
<tr> 
  <td class="tabarea">

	{if $ICON}
		<img align="left" src="getIcon.php/icon.png?id={$CONTACT_ID}" border="1">
	{else}
		<table><tr><td>{#no_icon#}</td></tr></table>
	{/if}

	{if $USERFILES}
	<form method="post" name="userfiles">
{literal}<script language="javascript">
function getSelected() {
     return document.userfiles['filename'].options[document.userfiles['filename'].selectedIndex].value;
}
</script>{/literal}

	<input type="hidden" name="id" value="{$CONTACT_ID}">
	<p>{#userfiles#}:	<select name="filename">{html_options values=$USERFILES output=$USERFILES}</select>
	<input type="button" name="view" value="{#view#}" onClick="var file=getSelected(); popup('getUserFile.php/'+escape(file)+'?filename='+escape(file),'UserFile',400,400,false)">
	<input type="submit" name="seticon" value="{#set_icon#}">
<br \><small>{#userfiles_expl#}</small>
	</form>
	{else}
	<p>{#no_files#}</p>
	{/if}
  <small>
          <form enctype="multipart/form-data" method="post">
            <input type="hidden" name="MAX_FILE_SIZE" value="15000000" />
            <input name="userfile" type="file" />
            <input type="submit" name="uploadicon" value="{#set_icon#}" />
            <br />{#upload_expl#}
          </form>
  </small>
<!--
  <form method="post">
      <input type="hidden" name="id" value="{$CONTACT_ID}">
      <input type="submit" name="finish2" value="{#finish#}">
  </form>
-->
</td></tr>
</table>
