{literal}
<SCRIPT language="javascript">
<!--
function setvalue(name, id, value){
var popurl="updatedb.php?name="+name+"&id="+id+"&value="+value
winpops=window.open(popurl,"","width=100,height=100,left=320,top=200")
}
// -->
</SCRIPT>
{/literal}

<table class="tab">
  <tr> 
    <td nowrap class="tab">{#create_new_prg#}</td>
  </tr>
</table>
<table class="tabarea">
<tr> 
  <td class="tabarea"> 
        <table width="100%">
          <tr valign="top">
            <td>
              <a target="ftp" href="{$USERFTPURL}">{#user_ftp_access#}</a>
            </td>
            <td>
              <form enctype="multipart/form-data" method="post" onSubmit="return(checkIfEmpty(this.userfile,'{#select_file#}'))" >
                <input type="hidden" name="MAX_FILE_SIZE" value="15000000">
                  <input name="userfile" type="file">
                    <input type="submit" name="upload" value="{#upload_file#}" >
              </form>
            </td>
          </tr>
        </table>

        {if $USER_AUDIO_FILES}

        <form method="post">

          {#pending_audio#}: 

          <select name="fname">
            {html_options values=$USER_AUDIO_FILES|escape output=$USER_AUDIO_FILES selected=$FNAME}
          </select>

          { if count($STATIONS)==1 }
          
          <input type="hidden" name="station" value="{$STATIONS[0].id}"></input>
          
          { else }
          <select name="station">
            {foreach from=$STATIONS item=station}
            <option value="{$station.id}" >{$station.name}</option>
            {/foreach}
          </select>
          {/if}
          <input type="submit" name="addprog" value="{#add_programme#}"></input>
          <input type="submit" name="refresh" value="{#refresh#}"></input>

        </form>
        {/if}

</td></tr>
</table>

<p></p>

<form>
<table class="tab">
  <tr> 
    <td nowrap class="tab">{#my_progs#}</td>
  </tr>
</table>
<table class="tabarea">
<tr> 
  <td class="tabarea"> 

<!--
<table width="100%" bgcolor="{#editorBgColor2#}">
<tr>
      <td>
        <select name="series">
          <option name="s1">Series 1</option>
          <option name="s2">Series 2</option>
        </select>
      </td>
      <td>{#Filter#} 
        <select name="filter">
          <option name="all">All</option>
          <option name="unpub">Unpublished</option>
        </select>
      </td>
      <td>{#sortby#}
        <select name="sort">
          <option name="all">Prod. date - Station - Status</option>
          <option name="unpub">Status - Station - Entry date</option>
        </select>
      </td>
</tr></table>
-->

<table width="100%">
<tr class="listhead">
      <!--<th>{#Flag#}</th>-->
      <th>{#Title_abs#}</th>
      <th>{#Station_series#}</th>
      <th>{#Entry_date#}</th>
      <th>{#Exp_date#}</th>
      <th>{#Stats#}</th>
      <th>{#Published#}</th>
      <th>{#Actions#}</th>
</tr>

    {cycle values="list1,list2" print=false advance=false}
    {foreach item=item from=$MYPROGS}
    <tr class="{cycle}">
      <!--<td>&nbsp;</td>-->
      <td>
                <a href="get.php?id={$item.id}"><b>{$item.title}</b></a>
                <br><font size="-1">{$item.abstract|truncate:200}</font>
      </td>
      <td>
                <a href="listStation.php?station={$item.station_id}">{$item.station}</a>
                {if $item.series_id}
                <br /><a href="listSeries.php?series={$item.series_id}">{$item.series}</a>
                {/if}
      </td>
      <td>{$item.production_date|default:"&nbsp;"}</td>
      <td>{$item.expiry_date|default:"&nbsp;"}</td>
      <td>&nbsp;</td>
      <td>
         <input type="checkbox" onclick="javascript:setvalue('{$item.id}', this.checked);return true;"{ if $item.published eq 't' } CHECKED="1"{/if} />
      </td>
      <td>
              <input class="action" type="button" name="b1" value="{#Edit_files#}" onClick="redir(this.form, 'editFiles.php?id={$item.id|escape}&okURL={$OKURL|escape}')" />
              <input class="action" type="button" name="b1" value="{#Edit_meta#}" onClick="redir(this.form, 'editMeta.php?id={$item.id}')" />
      </td>
    </tr>
		{/foreach}

</table>

</td></tr>
</table>
</form>
