
<script language="Javascript" src="{$IMAGEDIR}/popup.js"></script>
<table width="100%" border="0" cellspacing="2" cellpadding="5">
  <tr> 
    <td width="20%" valign="top"> <br>
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="{#tabBgColor#}"><strong>Login</strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="{#tabBgColor#}">
        <tr> 
          <td bgcolor="#FFFFFF">
			{if $loggedIn}
        <p>
			  {if $LANG == "de"}
                Haben loggen inaus {$loggedIn}.
			  {else}
                Logged in as {$USERNAME}.
        {/if}
        <br><a href="register.php">{#Preferences#} 
        <br><a href="logout.php">{#Logout#}</a></p>
			 
			{else}
            <form name="loginform" method="post" action="login.php">
              <table width="100%" border="0" cellspacing="1" cellpadding="1">
                <tr> 
                  <td width="1" nowrap>
                    <div align="right">{#Login#}:</div>
                  </td>
                  <td width="100%">
                    <input type="text" name="userid" style="width: 100%">
                  </td>
                </tr>
                <tr> 
                  <td width="1"> 
                    <div align="right">{#Password#}:</div>
                  </td>
                  <td>
                    <input type="password" name="password" style="width: 100%">
                  </td>
                </tr>
                <tr> 
                  <td colspan="2">
                    <div align="center"> 
                      <input type="submit" name="login" value="{#Login#}">
                      <br>
                    </div>
                  </td>
                </tr>
              </table>
            </form>
            <div align="center">[ <a href="register.php">{#Register#}</a> ]</div>
			{/if}
          </td>
        </tr>
      </table>
      <br>
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="{#tabBgColor#}"><strong>{#my_playlist#}</strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="{#tabBgColor#}">
        <tr> 
          <td bgcolor="#FFFFFF">Text goes here</td>
        </tr>
      </table>
      <br>
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="{#tabBgColor#}"><strong>{#statistics#}</strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="{#tabBgColor#}">
        <tr> 
          <td bgcolor="#FFFFFF">{$numProgs} radio programmes of {$numStations} stations</td>
        </tr>
      </table>
      <br>
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="{#tabBgColor#}"><strong>{#contacts#}</strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="{#tabBgColor#}">
        <tr> 
          <td bgcolor="#FFFFFF">Text goes here</td>
        </tr>
      </table>
    </td>
    <td width="60%" valign="top">
      <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="5">
        <tr> 
          <td>
            <p>{#intro#}
            </p>
          </td>
        </tr>
        <tr> 
          <td bgcolor="#eeeeee"><strong>{#New_shows#}:<br>
            </strong> 
              <table width="100%" border="0" cellspacing="0" cellpadding="2">
                {if count($NEWS) gt 0 }
                {foreach item=item from=$NEWS}
                <tr bgcolor="#FFFFFF" height="1"><td colspan="2"></td></tr>
                <tr valign="top">
                  <td width="5%">
                    {if $item.icon }
                    <img src="{$CACHEDIR}/{$item.id}.png">
                    {else}
                    {/if}
                  </td>
                  <td>
                    <a href="get.php?id={$item.id}"><b>{$item.title}</b></a>
                    {if $item.abstract}
                    <br />{$item.abstract|truncate:300}
                    {/if}
                  </td>
                </tr>
                {/foreach}
                {else}
                <tr><td>{#No_news#}</td></tr>
                {/if}
                </tr>
              </table>
           </td>
        </tr>
      </table>
    </td>
    <td width="20%" valign="top"> 
              <!-- <p><strong>{#recent_uploads#}:</strong></p> -->
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="{#tabBgColor#}"><strong><A href="advsearch.php">{#Search#}</a></strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="{#tabBgColor#}">
        <tr> 
            <form name="searchform" method="get" action="search.php">
              <td bgcolor="#FFFFFF">
                <input type="text" name="pattern" style="width: 100%">
                <select name="language" style="width: 100%">
                  {html_options values=$searchLangs selected="any_language" output=$langNames}
                </select>
                <input type="submit" name="search" value="{#Search#}">
              </td>
              </form>
          </tr>
      </table>
      <br>
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="{#tabBgColor#}"><strong><a href="stations.php">{#Stations#}</a>:</strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="{#tabBgColor#}">
        <tr> 
            <form name="stationsform" method="get" action="showStation.php">
                <td width="100%" bgcolor="#FFFFFF"> 
                    <select name="stationid" style="width: 100%">
                       {foreach from=$STATIONS item=station}
                          <option value="{$station.id}">{$station.name}</option>
                       {/foreach}
                    </select>
                    <input type="submit" name="select_station" value="{#Go#}">
                  </td>
            </form>
        </tr>
      </table>

      <br>
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="{#tabBgColor#}"><strong><a href="topics.php">{#topics#}</a></strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="{#tabBgColor#}">
        <tr> 
            <td width="100%" bgcolor="#FFFFFF"> 
                  <table>
                    {foreach item=item from=$TOPICS}
                    <tr>
                      <td>{$item.name}</td>
                      <td>({$item.total})</td>
                    </tr>
                    {/foreach}
                  </table>
           </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
