
<script language="Javascript" src="{$IMAGEDIR}/popup.js"></script>
<table width="100%" border="0" cellspacing="2" cellpadding="5">
  <tr> 
    <td width="20%" valign="top"> <br>
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="#CCCCCC"><strong>Login</strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
        <tr> 
          <td bgcolor="#FFFFFF">
			{if $loggedIn}
        <p>
			  {if $LANG == "de"}
                Haben loggen inaus {$loggedIn}.
			  {else}
                Logged in as {$USERNAME}.
        {/if}
        <br><a href="register.php">{#Preferences#} 
        <br><a href="logout.php">{#Logout#}</a></p>
			 
			{else}
            <form name="loginform" method="post" action="login.php">
              <table width="100%" border="0" cellspacing="1" cellpadding="1">
                <tr> 
                  <td width="1" nowrap>
                    <div align="right">{#Login#}:</div>
                  </td>
                  <td width="100%">
                    <input type="text" name="userid" style="width: 100%">
                  </td>
                </tr>
                <tr> 
                  <td width="1"> 
                    <div align="right">{#Password#}:</div>
                  </td>
                  <td>
                    <input type="password" name="password" style="width: 100%">
                  </td>
                </tr>
                <tr> 
                  <td colspan="2">
                    <div align="center"> 
                      <input type="submit" name="login" value="{#Login#}">
                      <br>
                    </div>
                  </td>
                </tr>
              </table>
            </form>
            <div align="center">[ <a href="register.php">{#Register#}</a> ]</div>
			{/if}
          </td>
        </tr>
      </table>
      <br>
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="#CCCCCC"><strong>{#my_playlist#}</strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
        <tr> 
          <td bgcolor="#FFFFFF">Text goes here</td>
        </tr>
      </table>
      <br>
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="#CCCCCC"><strong>{#statistics#}</strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
        <tr> 
          <td bgcolor="#FFFFFF">{$numProgs} radio programmes of {$numStations} stations</td>
        </tr>
      </table>
      <br>
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="#CCCCCC"><strong>{#contacts#}</strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
        <tr> 
          <td bgcolor="#FFFFFF">Text goes here</td>
        </tr>
      </table>
    </td>
    <td width="60%" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr> 
          <td>
            <p>
                {if $LANG=="de"}Wilkommen zu StreamOnTheFly! More translations coming soon!
                {else}
                Welcome to StreamOnTheFly! This is a network of audio archives containing radio programmes of community radios all over the World.
                {/if}
            </p>
          </td>
        </tr>
        <tr> 
          <td bgcolor="#eeeeee"><strong>{#New_shows#}:<br>
            </strong> 
              <table width="100%" border="0" cellspacing="0" cellpadding="2">
                <tr> 
                  {if count($NEWS) gt 0 }
                  {section name=i loop=$LOCAL_NEWS}
                  <td>
                    <a href=""><b>{$NEWS[i]->data.title}</b></a>
                  </td>
                  {/section}
                  {else}
                  <td>{#No_news#}</td>
                  {/if}
                </tr>
              </table>
           </td>
        </tr>
      </table>
    </td>
    <td width="20%" valign="top"> 
              <!-- <p><strong>{#recent_uploads#}:</strong></p> -->
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="#CCCCCC"><strong><A href="advsearch.php">{#Search#}</a></strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
        <tr> 
            <form name="searchform" method="get" action="search.php">
              <td bgcolor="#FFFFFF">
                <input type="text" name="pattern" style="width: 100%">
                <select name="language" style="width: 100%">
                  {html_options values=$searchLangs selected="any_language" output=$langNames}
                </select>
                <input type="submit" name="search" value="{#Search#}">
              </td>
              </form>
          </tr>
      </table>
      <br>
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="#CCCCCC"><strong><a href="stations.php">{#Stations#}</a>:</strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
        <tr> 
            <form name="stationsform" method="get" action="stations.php">
                <td width="100%" bgcolor="#FFFFFF"> 
                    <select name="station" style="width: 100%">
                          {html_options values=$STATIONS output=$STATIONS}
                    </select>
                    <input type="submit" name="select_station" value="{#Go#}">
                  </td>
            </form>
        </tr>
      </table>

      <br>
      <table width="40" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td nowrap bgcolor="#CCCCCC"><strong><a href="topics.php">{#topics#}</a></strong></td>
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC">
        <tr> 
            <form name="topicsform" method="get" action="topics.php">
                  <td width="100%" bgcolor="#FFFFFF"> 
                    <select name="topic" style="width: 100%">
                          <option name="1">Politics</option>
                          <option name="2">Health</option>
                          <option name="3">Leisure</option>
                    </select>
                    <input type="submit" name="select_topic" value="{#Go#}">
                  </td>
            </form>
        </tr>
      </table>
    </td>
  </tr>
</table>
