{config_load file="layout.conf"}
{config_load file="$LANG.conf" section="$ACTION"}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
<title>{$PAGETITLE} (StreamOnTheFly:{$NODEID})</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="{$IMAGEDIR}/main.css" rel="stylesheet" type="text/css">
</head>
<body background="{$IMAGEDIR}/bg.gif" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div align="center"> 
  <table width="{#pageW#}" height="100%" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td background="{$IMAGEDIR}/bg_main_LEFT.gif"> 
        <div align="center"><img src="{$IMAGEDIR}/bg_main_LEFT.gif" width="7" height="6"></div>
      </td>
      <td width="{#pageW#}" valign="top" bgcolor="#FFFFFF"> 
        <table border="0" cellpadding="0" cellspacing="0" width="{#pageW#}">
          <!-- fwtable fwsrc="stream1.png" fwbase="top.gif" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="1" -->
          <tr> 
            <td bgcolor="#000000"><img name="top_r1_c1" src="{$IMAGEDIR}/top_r1_c1.gif" width="700" height="17" border="0" alt=""></td>
          </tr>
          <tr> 
            <td>
              <table border="0" cellpadding="0" cellspacing="0" width="{#pageW#}">
                <tr> 
                  <td height="60" bgcolor="#CEDDFC"> 
                    <div align="right"> 
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr> 
                          <td background="{$IMAGEDIR}/top_r2_c1.gif" class=tablebg> 
                            <table cellSpacing=0 cellPadding=6 width="100%" border=0>
                              <tr> 
                                <td>
                                  <script language="Javascript1.2" src="{$IMAGEDIR}/cal.js"></script>
                                  <script language="Javascript1.2">
                                  <!--
                                  //setInterval("upclock()",1000);
                                  //-->
                                  </script>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td width="264"><img name="top_r2_c3" src="{$IMAGEDIR}/top_r2_c3.jpg" width="264" height="60" border="0" alt=""></td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr> 
            <td width="{#pageW#}" height="18" bgcolor="#FFFFFF"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="2">
                <tr> 
                  <td class="menu">
                    <p><strong>
                      <!-- begin navbar -->
                      <a class="menu" href="{$ROOTDIR}/">{#Home#}</a> 
                      | <a class="menu" href="{$ROOTDIR}/advsearch.php">{#Search#}</a> 
                      | <a class="menu" href="{$ROOTDIR}/stations.php">{#Stations#}</a> 
                      {if $IS_EDITOR} | <a class="menu" href="{$ROOTDIR}/editor.php">{#EditorPage#}</a> {/if} 
                      {if $loggedIn}
                      | <a class="menu" href="{$ROOTDIR}/register.php?okURL={$smarty.server.REQUEST_URI|escape:"url"}">{#Personal#} ({$USERNAME})</a>
                      {else}
                      | <a class="menu" href="{$ROOTDIR}/login.php?okURL={$smarty.server.REQUEST_URI|escape:"url"}">{#Login#}</a>
                      {/if}
                      | <a class="menu" href="{$ROOTDIR}/help.php">{#Help#}</a> 
                      | <a class="menu" href="{$ROOTDIR}/about.php">{#About#}</a> 
                      {if $DEBUG}
                      | <a class="menu" href="{$VIEWLOG}">View log</a>
                      | <a target="doc" class="menu" href="/node/code/doc/php/">View doc</a>
                      | <a target="doc" class="menu" href="debug.php?okURL={$smarty.server.REQUEST_URI|escape}">Debug off</a>
                      {else}
                      | <a target="doc" class="menu" href="debug.php?on=1&okURL={$smarty.server.REQUEST_URI|escape}">Debug on</a>
                      {/if}
                      <!-- end navbar -->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr> 
            <td background="{$IMAGEDIR}/top_r4_c2.gif">
              <table border="0" cellpadding="0" cellspacing="0" width="{#pageW#}">
                <tr> 
                  <td><img name="top_r4_c1" src="{$IMAGEDIR}/top_r4_c1.gif" width="2" height="6" border="0" alt=""></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr> 
            <td>
              <div align="center"> {include file="$ACTION.htm"} 
                <P align="center">
                <hr>
                <font size="-1"> 
                <div style="text-align : center; font-size: 8pt"> Copyright &copy; 
                  2002 <a href="http://www.streamonthefly.com">StreamOnTheFly 
                  project</a>, <a  href="http://www.gnu.org/copyleft/gpl.html">GPL</a> 
                </div>
                </font> 
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td width="7" background="{$IMAGEDIR}/bg_main.gif"><img src="{$IMAGEDIR}/bg_main.gif" width="7" height="6"></td>
    </tr>
  </table>
</div>
</body>
</html>
