
<h3 align="center">{#new_pass_title#}</h3>
<div align="center">{#please_login#} <br>

<TABLE cellspacing="1" cellpadding="3" width="40%" class="login">

  <FORM method="post" action="{$ROOT_URL}/newPassword.php">
    <INPUT type="hidden" name="filled" value="1">
    <INPUT type="hidden" name="okURL" value="{$OK_URL}">
    <TR> 
      <TD COLSPAN="2"> <font color="red">{$ERRORMSG}</font> </TD>
    </TR>
	<tr>
	   <td colspan="2">{#new_pass_explain#}</td>
	   </tr>
	   <tr colspan="2"><td>&nbsp;</td></tr>
	</tr>
    <TR> 
      <TD width="30%" align="right" nowrap> <div class="logintext"> 
          <div align="right"><strong>{#Username#}</strong></div>
        </div></TD>
      <TD> <INPUT type="text" name="userid" value="{$USERID}" style="width: 100%;"></TD>
    </TR>
    <TR> 
      <TD align="right" nowrap> <div class="logintext"> 
          <div align="right"><strong>e-mail</strong></div>
        </div></TD>
      <TD> <INPUT type="text" name="email" style="width: 100%"></TD>
    </TR>
    <tr> 
      <td colspan="2"> <div align="center"> 
          <INPUT type="submit" value="{#request_button#}">
        </div></td>
    </tr>
	
  </FORM>
</table>
</div>
