<script language="javascript" src="{$IMAGEDIR}/tasktree.js"></script>
<div align="center">
<form name="taskform" method="POST" action="playlistPopup.php?close=true">
<table border="0">
	<tr valign="bottom">
	<td align="right" valign="middle">
		<table border="0">
			<tr>
			<td>
				<select multiple="1" name="list" size="{$count}">
				{html_options options=$programmes}
				<option value="x">_________________________________________________</option>
				</select>
			</td>
			</tr>
		</table>
	</td>
	<td  align="left" valign="middle">
		<table  border="0">
		<tr><td>
			<a href="#" onClick="moveTop()"><IMG src="{$IMAGEDIR}/up2.gif" alt="{#top#}" border="0"></a>
		</td></tr>
		<tr><td>
			<a href="#" onClick="moveUp()"><IMG src="{$IMAGEDIR}/up.gif" alt="{#up#}" border="0"></a>
		</td></tr>
		<tr><td>
			<a href="#" onClick="moveDown()"><IMG src="{$IMAGEDIR}/down.gif" alt="{#down#}" border="0"></a>
		</td></tr>
		<tr><td>
			<a href="#" onClick="moveBottom()"><IMG src="{$IMAGEDIR}/down2.gif" alt="{#buttom#}" border="0"></a>
		</td></tr>
		</table>
	</td>
	</tr>
</table>
<input type="submit" name="save" value="{#save#}" onclick="selectAllItemsIn(document.taskform.list)"/>
<input type="submit" name="save" value="{#save#}" />
</form>
</div>
<script language="javascript">
generate();
</script>
