<BR />
{if $count == 0}
<h3>{#empty#}<h3>
{else}
<form name="taskform" method="POST" action="playlist.php">
<table width="100%">
	<tr>
	<td>
		<table>
		{foreach name=outer item=item from=$result}
			<tr>
				<td width="50" align="center"><input type="checkbox" value="{$item.id}" name="checkbox[]" /> </td>
				<td>{if $item.icon}<img src="getIcon.php/icon.png?id={$item.id}">{else}<img src="{$IMAGEDIR}/noicon.png">{/if}</td>
				<td><b><a href="get.php?id={$item.id}">{$item.title}</a></b><BR></td>
			</tr>
		{/foreach}
		</table>
	</td>
	</tr>
</table>
<div align="center">
<table width="80%" align="center">
	<tr align="center">
		<td><input type="button" name="change_order" value="{#change_order#}" onclick="javascript:popup('playlistPopup.php', 'playlistOrder', 300, 600, true);return true;" /></td>
		<td><input type="submit" name="delete_selected" value="{#delete_selected#}" /></td>
		<td><input type="button" name="play_selected" value="{#play_selected#}" /></td>
	</tr>
</table>
</div>
</form>
{/if}
<!--
{foreach name=outer item=row from=$result}
	{foreach key=key item=cell from=$row}
		{if $cell != ""}{$key}: {$cell}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{/if}
	{/foreach}
	<BR />___________________________________________________________<BR />
{/foreach}
-->