{literal}

<script language="javascript">

function selectAll(formObj, isInverse) 

{

   for (var i=0;i < formObj.length;i++) 

   {

      fldObj = formObj.elements[i];

      if (fldObj.type == 'checkbox')

      { 

         if(isInverse)

            fldObj.checked = (fldObj.checked) ? false : true;

         else fldObj.checked = true; 

       }

   }

}

</script>

{/literal}



    <table class="title" cellspacing="0" cellpadding="5" width="100%">

      <tr valign="bottom">

        <td class="titlehead" width="20%">

          {#Playlist#}

        </td>

        <td class="title2" width="80%" align="right" valign="bottom">

        </td>

      </tr>

      <tr>

        <td colspan="2" class="titlehead" height="5">

        </td>

      </tr>

    </table>

  

  <p></p>

  

  <table class="tabarea" width="100%">

    <tr> 

      <td class="tabarea"> 

        {if $count == 0}

        <h3>{#empty#}<h3>

            {else}

            <form name="taskform" method="POST" action="playlist.php">

              <table width="100%">

                <tr>

                  <td>

                    <table>

                      {cycle name="progs" values="list1,list2" print=false advance=false}

                      {foreach name=outer item=item from=$result}

                      <tr valign="top" class="{cycle name="progs"}" >

                        <td width="5%" align="center" valign="middle"><input type="checkbox" value="{$item.id}" name="checkbox[]" /> </td>

                        <td width="1%">

                          {if $item.icon }

                          <img src="{$CACHE_URL}/{$item.icon}">

                            {else}

                            <img src="{$IMAGE_URL}/noicon.png">

                              {/if}

                        </td>

                        <td width="98%">

                          <a href="listen.php/audio.m3u?id={$item.id}"><img align="right" src="{$IMAGE_URL}/listen.gif" border="0" alt="{#Listen#}"></a>

                          <a class="goto_object" href="get.php?id={$item.id}">{$item.title}</a> ({$item.broadcast_date|default:$item.entry_date})



                          {if $item.alternative_title}<br>{$item.alternative_title}{/if}

                          {if $item.episode_title}<br>{$item.episode_sequence}.: {$item.episode_title}{/if}

                          {if $item.abstract}

                          <div class="abstract">{$item.abstract|truncate:300}</div>

                          {/if}

                        </td>

                      </tr>

                      {/foreach}

                    </table>

                  </td>

                </tr>

              </table>



		<div align="center">

		<table width="100%">

			<tr>

			<td>

				<table><tr>

					<td align="center"><input type="button" name="select_all" value="{#select_all#}" onclick="javascript:selectAll(this.form, 0)" /></td>

				<tr></tr>

					<td align="center"><input type="button" name="invert_selection" value="{#invert_selection#}" onclick="javascript:selectAll(this.form, 1)" />

				</tr></table>

			</td>

			<td valign="middle" width="100%">

				<table width="80%" align="center"><tr>

					<td valign="middle" align="center"><input type="submit" name="play_selected" value="{#play_selected#}" /></td>

					<td valign="middle" align="center"><input type="submit" name="delete_selected" value="{#delete_selected#}" /></td>

				</tr></table>

			</td>

			<td valign="middle" width="100%">

				<table width="80%" align="center"><tr>

					<td valign="middle" align="center"><input type="button" name="change_order" value="{#change_order#}" onclick="javascript:popup('playlistPopup.php', 'playlistOrder', 300, 600, true);return true;" /></td>

				<tr></tr>

					<td valign="middle" align="center"><input type="button" name="send_selected" value="{#send_selected#}"

					{literal}onclick="javascript: ids = ''; for(i=0;i< this.form.elements.length;i++) { if (this.form.elements[i].checked==true) ids = ids + '|' + this.form.elements[i].value}; window.open('portal_upload.php?type=prglist&data='+ids,'','scrollbars=yes,width=640,height=340,left=320,top=200');"{/literal}

					/></td>

				</tr></table>

			</td>

			</tr>

		</table>

		</div>

	</form>

{/if}

<!--

{foreach name=outer item=row from=$result}

	{foreach key=key item=cell from=$row}

		{if $cell != ""}{$key}: {$cell}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{/if}

	{/foreach}

	<BR />___________________________________________________________<BR />

{/foreach}

-->



</td>

</tr>

</table>