{config_load file="$LANG.conf" section="rss"}
    <br /><i>{#title#}:</i> {$PRG_DATA.title}
    {if $PRG_DATA.alternative_title}
    <br /><i>{#alternative_title#}:</i> {$PRG_DATA.alternative_title}
    {/if}
    {if $PRG_DATA.episode_title}
    <br /><i>{#episode_title#}:</i> {$PRG_DATA.episode_title}
    {/if}
    {if $PRG_DATA.episode_sequence}
    <br /><i>{#episode_sequence#}:</i> {$PRG_DATA.episode_sequence}
    {/if}
    <br /><i>{#language#}:</i> {$LANGUAGE}
    {if $PRG_DATA.abstract}
    <br /><i>{#abstract#}:</i> {$PRG_DATA.abstract}
    {/if}
    {if $PRG_DATA.genre_id}
    <br /><i>{#genre#}:</i> {$GENRE.name}
    {/if}
    {if $PRG_DATA.broadcast_date}
    <br /><i>{#broadcast_date#}:</i> {$PRG_DATA.broadcast_date}
    {/if}
    {if $RIGHTS}
      <br /><i>{#Rights#}:</i>
          {foreach item=item from=$RIGHTS}
              <br />&nbsp;&nbsp;<i>
              {if empty($item.start_time) and empty($item.stop_time) }
                {#for_whole_prg#}
              {else}
                 {$item.start_time} {#sec#} - {$item.stop_time} {#sec#}
              {/if}
              :</i> {$item.rights_text}
          {/foreach}
    {/if}

