
<table width="100%" bgcolor="{#editorBgColor1#}">
<tr><td valign="top" width="5">
	{if $LOGO}
		<img src="getIcon.php/icon.png?id={$CONTACT_ID}">
	{/if}
</td><td>
	<table>
		<tr>
			<td>{#name#}:</td>
			<td>{$CONTACT_DATA.name}</td>
		</tr>
{if $CONTACT_DATA.alias }
		<tr>
			<td>{#alias#}:</td>
			<td>{$CONTACT_DATA.alias}</td>
		</tr>
{/if}
{if $CONTACT_DATA.acronym }
		<tr>
			<td>{#acronym#}:</td>
			<td>{$CONTACT_DATA.acronym}</td>
		</tr>
{/if}
{if $CONTACT_DATA.intro }
		<tr valign="top">
			<td>{#intro#}:</td>
			<td>{$CONTACT_DATA.intro}</td>
		</tr>
{/if}
{if $CONTACT_DATA.email }
		<tr>
			<td>{#email#}:</td>
			<td><a href="{$CONTACT_DATA.email}">{$CONTACT_DATA.email}</a></td>
		</tr>
{/if}
{if $CONTACT_DATA.address }
		<tr>
			<td>{#address#}:</td>
			<td>{$CONTACT_DATA.address}</td>
		</tr>
{/if}
{if $CONTACT_DATA.phone }
		<tr>
			<td>{#phone#}:</td>
			<td>{$CONTACT_DATA.phone}</td>
		</tr>
{/if}
{if $CONTACT_DATA.cellphone }
		<tr>
			<td>{#cellphone#}:</td>
			<td>{$CONTACT_DATA.cellphone}</td>
		</tr>
{/if}
{if $CONTACT_DATA.fax }
		<tr>
			<td>{#fax#}:</td>
			<td>{$CONTACT_DATA.fax}</td>
		</tr>
{/if}
{if $CONTACT_DATA.url }
		<tr>
			<td>{#url#}:</td>
			<td><a href="{$CONTACT_DATA.url}">{$CONTACT_DATA.url}</a></td>
		</tr>
{/if}
	</table>

</td></tr>
</table>

