
<h3>{$STATION}</h3>

<table class="tabarea">
<tr> 
  <td class="tabarea"> 
        <table width="100%">
          <tr><td width="5">
            {if $STATION_DATA.icon}
              <img src="getIcon.php/icon.png?id={$STATION_ID}">
            {/if}
          </td><td>
              {if $STATION_DATA.description }
              <p>{$STATION_DATA.description}</p>
              {/if}

              {if $ROLES}
              <table>
                {foreach item=item from=$ROLES}
                <tr>
                  <td>
                    {$item.role_name}: {$item.contact_data.name}
                    {if $item.contact_data.url}<a href="{$item.contact_data.url}">{$item.contact_data.url}</a>
                    {elseif $item.contact_data.email}<a href="mailto:{$item.contact_data.email}">{$item.contact_data.email}</a>
                    {/if}
                    <a href="javascript:popup('showContact.php?id={$item.contact_data.id}','{#show_contact#}',400,400)">{#More#}</a>
                  </td>
                </tr>
                {/foreach}
              </table>
              {/if}

              {if hasPerm($STATION_ID,'change') }
              <p>
                <form>
                  <input class="action" type="button" name="b1" value="{#edit_station#}" onClick="redir(this.form, 'editStation.php?stationid={$STATION_ID}')">
                </form>
              </p>
              {/if}
            </td>
          </tr>
        </table>
      </td>
    </tr>
</table>

{if $SERIES}

  <p></p>

  <table class="tab">
    <tr> 
      <td nowrap class="tab">{#series#}</td>
    </tr>
  </table>
  <table class="tabarea">
    <tr> 
      <td class="tabarea"> 

        <a name="series"></a>

        <table>
          {foreach item=item from=$SERIES}
          <tr>
            <td>{if $item.icon }<img src="getIcon.php/icon.png?id={$item.id}">{else}<img src="{$IMAGEDIR}/noicon.png">{/if}</td>
            <td><a href="showSeries.php?seriesid={$item.id}">{$item.title}</a> ({$item.count})</td>
          </tr>
          {/foreach}
        </table>
      </td>
    </tr>
  </table>
{/if}


{if $PROGS}
  <p></p>

  <table class="tab">
    <tr> 
      <td nowrap class="tab">{#programmes#}</td>
    </tr>
  </table>
  <table class="tabarea">
    <tr> 
      <td class="tabarea"> 

        <a name="progs"></a>

        
        <table width="100%">
          <tr>
            <td colspan="2" align="center">
              <div align="center" class="prevnext">
                {if $PROG_SPLIT.prev ge 0}
                <a href="showStation.php?stationid={$STATION_ID}&start={$PROG_SPLIT.prev}#progs">
                  <img border="0" src="{$IMAGEDIR}/previous.png">
                </a>
                {/if}
                {$PROG_SPLIT.start} - {$PROG_SPLIT.max} {#of#} {$PROG_SPLIT.count}
                {if $PROG_SPLIT.next}
                <a href="showStation.php?stationid={$STATION_ID}&start={$PROG_SPLIT.next}#progs">
                  <img border="0" src="{$IMAGEDIR}/next.png">
                </a>
                {/if}
              </div>
            </td>
          </tr>
          {foreach item=item from=$PROGS}
          <tr>
            <td>
              {if $item.icon }
                 <img src="getIcon.php/icon.png?id={$item.id}">
              {else}
                 <img src="{$IMAGEDIR}/noicon.png">
              {/if}
            </td>
            <td>
              <a href="get.php?id={$item.id}">{$item.title}</a>
            </td>
          </tr>
          {/foreach}
        </table>

      </td>
    </tr>
  </table>


{/if}
