
<h3>{$SERIES_DATA.title}</h3>

<table class="tabarea">
<tr> 
  <td class="tabarea"> 
        <table width="100%">
          <tr>
            <td width="5">
              {if $SERIES_DATA.icon}
              <img src="getIcon.php/icon.png?id={$SERIES_ID}">
                {/if}
            </td>
            <td>
              {if $SERIES_DATA.description }
              <p>{$SERIES_DATA.description}</p>
              {/if}

              {if $ROLES}
              <table>
                {foreach item=item from=$ROLES}
                <tr>
                  <td>
                    {$item.role_name}: {$item.contact_data.name}
                    {if $item.contact_data.url}<a href="{$item.contact_data.url}">{$item.contact_data.url}</a>
                    {elseif $item.contact_data.email}<a href="mailto:{$item.contact_data.email}">{$item.contact_data.email}</a>
                    {/if}
                    <a href="javascript:popup('showContact.php?id={$item.contact_data.id}','{#show_contact#}',400,400)">{#More#}</a>
                  </td>
                </tr>
                {/foreach}
              </table>
              {/if}

              {if hasPerm($SERIES_ID,'change') }
              <p>
                <form>
                  <input class="action" type="button" name="b1" value="{#edit_series#}" onClick="popup('editSeries.php?seriesid={$SERIES_ID}','{#editSeries#}',550,450,true)" >
                </form>
              </p>
              {/if}
            </td>
            <td width="5">
              {if $STATION_DATA.icon}
              <img src="getIcon.php/icon.png?id={$STATION_DATA.id}"><br />
                {/if}
              <a href="showStation.php?stationid={$STATION_DATA.id}">{$STATION_DATA.name}</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
</table>

{if $PROGS}
  <p></p>

  <table class="tab">
    <tr> 
      <td nowrap class="tab">{#programmes#}</td>
    </tr>
  </table>
  <table class="tabarea">
    <tr> 
      <td class="tabarea"> 

        <a name="progs"></a>

        
        <table width="100%">
          <tr>
            <td colspan="2" align="center">
		{include file="splitList.htm"}
            </td>
          </tr>
          {foreach item=item from=$PROGS}
          <tr>
            <td>
              {if $item.icon }
                 <img src="getIcon.php/icon.png?id={$item.id}">
              {else}
                 <img src="{$IMAGEDIR}/noicon.png">
              {/if}
            </td>
            <td>
              <a href="get.php?id={$item.id}">{$item.title}</a>
            </td>
          </tr>
          {/foreach}
        </table>

      </td>
    </tr>
  </table>


{/if}
