
<form>

{if hasPerm('node', 'create') or hasPerm('node', 'change')}
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr> 
      <td align="right" nowrap bgcolor="{#adminBgColor#}">
          <strong>{#admin_tasks#}</strong>
          {if hasPerm('node', 'create') }
          <input class="action" type="button" name="b1" value="{#create_station#}" onClick="redir(this.form, 'createStation.php')" />
          {/if}
          {if hasPerm('node', 'change') }
          <input class="action" type="button" name="b1" value="{#edit_node_rights#}" onClick="redir(this.form, 'admin.php#perms')" />
          {/if}
      </td>
    </tr>
  </table>
{/if}

<h3>{#stations#}</h3>

<table width="100%">
	<tr class="listhead">
		<td>{include file="splitList.htm"}</td>
	</tr>
</table>
{cycle values="list1,list2" print=false advance=false}

{if count($STATIONS) gt 0 }
	<table width="100%" cellpadding="0" cellspacing="0">
	{section name=station loop=$STATIONS }
		<tr valign="top" class="{cycle}" height="{$ICON_HEIGHT}">
			<td valign="middle" width="1%">{if $STATIONS[station].icon }
				<a href="showStation.php?stationid={$STATIONS[station].id}"><img alt="{$STATIONS[station].name} {#logo#}" src="{$CACHEDIR}/{$STATIONS[station].id}.png" border="0"></a>
			{else} <img src="{$IMAGEDIR}/transp.gif">
			{/if}
      </td>
        <td width="6">&nbsp;</td>
			<td><a class="goto_object" href="showStation.php?&stationid={$STATIONS[station].id}">{$STATIONS[station].name}</a> ({$STATIONS[station].numProgs})
      {if $STATIONS[station].managers}
          <p>{#managed_by#} {foreach from=$STATIONS[station].managers item=manager}{$manager.name} {/foreach}</p>
      {/if}
      {if !empty($STATIONS[station].description)}
			   <p>{$STATIONS[station].description}</p>
      {/if}
      </td>
        <td width="6">&nbsp;</td>
        <td width="1%" valign="bottom">
			{if $STATIONS[station].isLocal and (hasPerm('node','delete') or hasPerm($STATIONS[station].id, 'admin')) }
              <input class="action" type="button" name="b1" value="{#delete#}" onClick="if(deleteConfirm('{#delete_station_confirm#}'))redir(this.form, 'stations.php?delete=1&station={$STATIONS[station].id}')" />
			{/if}
			{if $STATIONS[station].isLocal and hasPerm($STATIONS[station].id, 'change') }
              <br/><input class="action" type="button" name="b1" value="{#edit#}" onClick="redir(this.form, 'editStation.php?stationid={$STATIONS[station].id}')" />
			{/if}
			{if $STATIONS[station].isLocal and hasPerm($STATIONS[station].id, 'add_prog') }
              <br/><input class="action" type="button" name="b1" value="{#add_prg#}" onClick="redir(this.form, 'editor.php?stationid={$STATIONS[station].id}')" />
			{/if}
      </td>
		</tr>
	{/section}
	</table>
{else}
	<p>{#no_station#}</p>
{/if}

</form>
